Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

Tweak
  crates/db/src/db.rs
Due: cargo fmt --

bump prettier
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

format
  client/index.html
  client/src/components/Autocomplete.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/MultiSelect.tsx
  client/src/components/Paragraph.tsx
  client/src/components/ReviewEmptyPrompt.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/components/SideNav.tsx
  client/src/components/VisualSchedule.tsx
Due: prettier --write, tslint

make course graph button more obvious
  client/src/components/CourseRequirements.tsx
Due: prettier --write, tslint

Bump prettier version + make course graph button more obvious (#503)
  .prettierrc
  client/index.html
  client/src/components/Autocomplete.tsx
  client/src/components/CourseRequirements.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/MultiSelect.tsx
  client/src/components/Paragraph.tsx
  client/src/components/ReviewEmptyPrompt.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/components/SideNav.tsx
  client/src/components/VisualSchedule.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

fix z index hopefully
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

Disable initialization in production environment
  Dockerfile
Due: none

Disable initialization in production environment (#506)
  Dockerfile
Due: none

Increase z-index for notification dropdown (#505)
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

update my socials
  client/src/pages/About.tsx
Due: prettier --write, tslint

Update socials on about page (#508)
  client/src/pages/About.tsx
Due: prettier --write, tslint

Plug the discord server to get development environment variables
  README.md
Due: none

Add url
  README.md
Due: none

Plug the discord server to get development environment variables (#509)
  README.md
Due: none

wrap words in reviews
  client/src/components/CourseReview.tsx
Due: prettier --write, tslint

add: explore all courses option to homepage
  client/src/pages/Home.tsx
Due: prettier --write, tslint

Add `break-words` to review content
  client/src/components/CourseReview.tsx
Due: prettier --write, tslint

Add `break-words` to review content (#512)
  client/src/components/CourseReview.tsx
Due: prettier --write, tslint

fix typo
  client/src/pages/Home.tsx
Due: prettier --write, tslint

tweak styling
  client/src/pages/Home.tsx
Due: prettier --write, tslint

style: link color change on hover
  client/src/pages/Home.tsx
Due: prettier --write, tslint

Update services command in development instructions
  README.md
Due: none

Tweak
  README.md
Due: none

Update services command in development instructions (#515)
  README.md
Due: none

Add 'explore all courses' option to home page (#513)
  client/src/pages/Home.tsx
Due: prettier --write, tslint

add margin to new explore button
  client/src/pages/Home.tsx
Due: prettier --write, tslint

format readme
  README.md
Due: none

Add horizon margin to the new explore button (#516)
  README.md
  client/src/pages/Home.tsx
Due: prettier --write, tslint

persist explore filter state until refresh
  client/src/components/ExploreFilter.tsx
  client/src/hooks/useExploreFilterState.ts
  client/src/main.tsx
  client/src/pages/Explore.tsx
  client/src/providers/ExploreFilterStateProvider.tsx
Due: prettier --write, tslint

Persist explore filter state until refresh (#517)
  client/src/components/ExploreFilter.tsx
  client/src/hooks/useExploreFilterState.ts
  client/src/main.tsx
  client/src/pages/Explore.tsx
  client/src/providers/ExploreFilterStateProvider.tsx
Due: prettier --write, tslint

swap email links to discord
  client/src/pages/About.tsx
  client/src/pages/PrivacyPolicy.tsx
  client/src/pages/TermsAndConditions.tsx
Due: prettier --write, tslint

add back email
  client/src/pages/About.tsx
  client/src/pages/PrivacyPolicy.tsx
  client/src/pages/TermsAndConditions.tsx
Due: prettier --write, tslint

Fix test
  crates/db/test-seeds/after_update.json
Due: none

apply same changes
  Dockerfile
  crates/db/src/db.rs
  crates/db/test-seeds/after_update.json
Due: cargo fmt --

Added client side fuzzy search for reviews
  client/src/components/CourseReview.tsx
  client/src/components/ReviewFilter.tsx
  client/src/components/ReviewSearchBar.tsx
  client/src/model/Review.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Set course.schedule instead of found.schedule
  crates/db/src/db.rs
Due: cargo fmt --

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
