Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

remove filter toggle from course page, fix bug with filter on create/delete
  client/src/components/ResetButton.tsx
  client/src/components/ReviewEmptyPrompt.tsx
  client/src/components/ReviewFilter.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/Instructor.tsx
  tailwind.config.cjs
Due: prettier --write, tslint

remove unused import
  crates/model/src/lib.rs
Due: cargo fmt --

invalidate course schedules
  crates/db/src/db.rs
  crates/db/src/initializer.rs
  crates/model/src/initialize_options.rs
  src/server.rs
Due: cargo fmt --

Remove review filter toggle (#578)
  client/src/components/ResetButton.tsx
  client/src/components/ReviewEmptyPrompt.tsx
  client/src/components/ReviewFilter.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/Instructor.tsx
  tailwind.config.cjs
Due: prettier --write, tslint

update search index
  client/src/assets/searchData.json
  justfile
Due: none

adjust load script settings
  justfile
Due: none

Add option for expanding changelog entries
  client/src/pages/Changelog.tsx
Due: prettier --write, tslint

Update changelog
  client/src/assets/changelog.json
Due: none

Format
  client/src/assets/changelog.json
Due: none

Add option for expanding changelog entries (#583)
  client/src/assets/changelog.json
  client/src/pages/Changelog.tsx
Due: prettier --write, tslint

fix empty state for courses with no reviews + lift state up for review filter
  client/src/components/ReviewFilter.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Fix empty state for courses with no reviews (#584)
  client/src/components/ReviewFilter.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

update empty state text for course page
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Update empty state text for course page (#585)
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Replace blue text in 'Show all' button in darkmode on the changelog page
  client/src/pages/Changelog.tsx
Due: prettier --write, tslint

Replace blue text in 'Show all' button in darkmode on the changelog page (#586)
  client/src/pages/Changelog.tsx
Due: prettier --write, tslint

Update readme site image
  README.md
Due: none

Update readme site image (#587)
  README.md
Due: none

update course search data
  client/src/assets/courseAveragesData.json
Due: none

Remove version field from docker compose file
  docker-compose.yml
Due: none

Remove version field from docker compose file (#589)
  docker-compose.yml
Due: none

Update course averages data (#588)
  client/src/assets/courseAveragesData.json
Due: none

add check for if vsb gives in unusual schedule match
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

check for vsb schedule correctness
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

update azure identity association file
  .well-known/microsoft-identity-association.json
Due: none

update failed txt
  tools/req-parser/failed.txt
Due: none

Remove failed.txt
  tools/req-parser/failed.txt
Due: none

Tweak
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Update dependencies
  Cargo.lock
  Cargo.toml
  client/src/assets/changelog.json
  crates/db/Cargo.toml
  crates/extractor/Cargo.toml
  crates/model/Cargo.toml
  justfile
  package.json
  pnpm-lock.yaml
  tools/changelog-gen/Cargo.toml
  tools/changelog-gen/src/main.rs
Due: cargo fmt --

Tweak
  client/src/assets/changelog.json
  justfile
Due: none

Don't upgrade flexsearch
  package.json
  pnpm-lock.yaml
Due: none
