Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

Perf
  crates/db/src/db.rs
Due: cargo fmt --

Differentiate reviews scraped from RateMyProfessors (#606)
  .github/workflows/ci.yaml
  client/src/components/CourseReview.tsx
  client/src/pages/Reviews.tsx
  crates/db/src/db.rs
  crates/db/src/lib.rs
Due: cargo fmt --, prettier --write, tslint

Contrast background and reviews in dark mode notification dropdown
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

Contrast background and reviews in dark mode notification dropdown (#609)
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

Start writing documentations for maintenance
  docs/MAINTENANCE.md
Due: none

Add pnpm install to justfile
  justfile
Due: none

Write more
  docs/MAINTENANCE.md
Due: none

fmt
  docs/MAINTENANCE.md
Due: none

Update S2024 course average data (#605)
  client/src/assets/courseAveragesData.json
Due: none

Rename directory
  tools/search-data-parser/README.md
  tools/search-data-parser/parser.py
Due: none

Strip all whitespace
  client/src/assets/searchData.json
Due: none

Update search data (#610)
  .prettierignore
  client/src/assets/searchData.json
  client/src/components/CourseSearchBar.tsx
  client/src/lib/searchIndex.ts
  client/src/model/SearchResults.ts
  justfile
  tools/search-data-parser/README.md
  tools/search-data-parser/parser.py
Due: prettier --write, tslint

Don't display empty course CRNs
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Parse historical course data for search index (#610)
  .prettierignore
  client/src/assets/searchData.json
  client/src/components/CourseSearchBar.tsx
  client/src/lib/searchIndex.ts
  client/src/model/SearchResults.ts
  justfile
  tools/search-data-parser/README.md
  tools/search-data-parser/parser.py
Due: prettier --write, tslint

Don't display empty course CRNs (#613)
  README.md
  client/src/components/SchedulesDisplay.tsx
  justfile
Due: prettier --write, tslint

Do it
  client/src/lib/utils.ts
Due: prettier --write, tslint

Improve how we handle calculating time since events (#615)
  client/src/lib/utils.ts
Due: prettier --write, tslint

Fetch new course average data (#612)
  client/src/assets/courseAveragesData.json
Due: none

Add client-side unit testing support
  .github/workflows/ci.yaml
  client/src/components/CourseCard.test.tsx
  client/src/components/CourseCard.tsx
  client/src/components/Highlight.tsx
  client/src/components/Navbar.tsx
  client/src/components/ProfileDropdown.tsx
  client/src/components/SideNav.tsx
  client/src/env.d.ts
  client/src/lib/constants.ts
  client/src/lib/utils.test.ts
  client/src/lib/utils.ts
  jest.config.js
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.node.json
Due: prettier --write, tslint

Fix
  client/src/components/MultiSelect.tsx
  client/src/components/ProfileDropdown.tsx
  client/src/pages/Instructor.tsx
  tsconfig.json
  tsconfig.node.json
Due: prettier --write, tslint

Fix more lints
  client/src/components/Autocomplete.tsx
  client/src/components/CourseReview.tsx
  client/src/components/DarkModeToggle.tsx
  client/src/components/Histogram.tsx
  client/src/components/Navbar.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/components/Spinner.tsx
  client/src/pages/About.tsx
Due: prettier --write, tslint

Another one
  client/src/pages/About.tsx
Due: prettier --write, tslint

Add client-side unit testing support (#617)
  .github/workflows/ci.yaml
  client/src/components/Autocomplete.tsx
  client/src/components/CourseCard.test.tsx
  client/src/components/CourseCard.tsx
  client/src/components/CourseReview.tsx
  client/src/components/DarkModeToggle.tsx
  client/src/components/Highlight.tsx
  client/src/components/Histogram.tsx
  client/src/components/MultiSelect.tsx
  client/src/components/Navbar.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/components/ProfileDropdown.tsx
  client/src/components/SideNav.tsx
  client/src/components/Spinner.tsx
  client/src/env.d.ts
  client/src/lib/constants.ts
  client/src/lib/utils.test.ts
  client/src/lib/utils.ts
  client/src/pages/About.tsx
  client/src/pages/Instructor.tsx
  jest.config.js
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.node.json
Due: prettier --write, tslint

Consolidate *.d.ts files in client
  client/src/env.d.ts
  client/src/vite-env.d.ts
Due: prettier --write, tslint

Consolidate *.d.ts files in client (#618)
  client/src/env.d.ts
  client/src/vite-env.d.ts
Due: prettier --write, tslint

Change graduation dates
  client/src/pages/About.tsx
Due: prettier --write, tslint

Use linkedin for about page team pictures
  client/src/assets/changelog.json
  client/src/pages/About.tsx
Due: prettier --write, tslint

Format
  client/src/assets/changelog.json
Due: none

Use linkedin for about page team pictures (#623)
  client/src/assets/changelog.json
  client/src/pages/About.tsx
Due: prettier --write, tslint

Ensure we have results before handling enter keydown event
  client/src/components/CourseSearchBar.tsx
Due: prettier --write, tslint

Ensure non-empty result set on enter (#624)
  client/src/components/CourseSearchBar.tsx
Due: prettier --write, tslint

Use lucide for all site icons
  client/src/components/Autocomplete.tsx
  client/src/components/CourseAverages.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/CourseTerms.tsx
  client/src/components/DeleteButton.tsx
  client/src/components/MultiSelect.tsx
  client/src/components/ProfileDropdown.tsx
  client/src/components/ResetButton.tsx
  client/src/components/SearchBar.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

More port
  client/src/components/CourseInfo.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseTerms.tsx
  client/src/components/DarkModeToggle.tsx
  client/src/components/ExploreFilter.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/pages/About.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Select the current term in the schedule display by default
  client/src/components/SchedulesDisplay.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

Fix occasional perma loading on explore page
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Select the current term in the schedule display by default (#626)
  client/src/components/SchedulesDisplay.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
