Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Fix all lints
  crates/db/src/db.rs
  crates/db/src/utils.rs
  src/instructors.rs
  src/interactions.rs
  src/user.rs
  tools/changelog-generator/src/main.rs
  tools/scraper/src/auth.rs
  tools/scraper/src/loader.rs
  tools/scraper/src/main.rs
  tools/scraper/src/retry.rs
  tools/scraper/src/utils.rs
  tools/scraper/src/vsb_client.rs
Due: cargo fmt --

Format
  crates/db/src/db.rs
  tools/changelog-generator/src/main.rs
Due: cargo fmt --

Update about page profile image urls
  client/src/pages/About.tsx
Due: prettier --write, tslint

Update about page profile image urls (#673)
  client/src/pages/About.tsx
Due: prettier --write, tslint

Update dependencies
  Cargo.lock
  Cargo.toml
  client/src/pages/Home.tsx
  crates/db/Cargo.toml
  crates/model/Cargo.toml
  package.json
  pnpm-lock.yaml
  tools/changelog-generator/Cargo.toml
  tools/scraper/Cargo.toml
Due: prettier --write, tslint

Update framer
  package.json
  pnpm-lock.yaml
Due: none

Update dependencies (#674)
  Cargo.lock
  Cargo.toml
  client/src/pages/Home.tsx
  crates/db/Cargo.toml
  crates/model/Cargo.toml
  package.json
  pnpm-lock.yaml
  tools/changelog-generator/Cargo.toml
  tools/scraper/Cargo.toml
Due: prettier --write, tslint

Add typeshare support for `Review` type
  client/src/components/CourseInfo.tsx
  client/src/components/CourseInfoStats.tsx
  client/src/components/CourseReview.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/ReviewFilter.tsx
  client/src/lib/types.ts
  client/src/model/GetCourseWithReviewsPayload.ts
  client/src/model/GetInstructorPayload.ts
  client/src/model/GetReviewsPayload.ts
  client/src/model/Notification.ts
  client/src/model/Review.ts
  client/src/pages/CoursePage.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  client/src/pages/Reviews.tsx
  crates/model/src/review.rs
Due: cargo fmt --, prettier --write, tslint

Collapse `use` statements
  crates/model/src/review.rs
Due: cargo fmt --

Format
  crates/model/src/review.rs
Due: cargo fmt --

Update client/src/components/CourseReview.tsx
  client/src/components/CourseReview.tsx
Due: prettier --write, tslint

Parse int
  client/src/components/ReviewFilter.tsx
  client/src/pages/Reviews.tsx
Due: prettier --write, tslint

Tweak into bson
  crates/model/src/review.rs
Due: cargo fmt --

Move custom datetime module
  crates/model/src/datetime.rs
  crates/model/src/lib.rs
  crates/model/src/review.rs
Due: cargo fmt --

Collapse module
  crates/model/src/datetime.rs
  crates/model/src/review.rs
Due: cargo fmt --

Add typeshare support for `Review` type (#675)
  client/src/components/CourseInfo.tsx
  client/src/components/CourseInfoStats.tsx
  client/src/components/CourseReview.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/ReviewFilter.tsx
  client/src/lib/types.ts
  client/src/model/GetCourseWithReviewsPayload.ts
  client/src/model/GetInstructorPayload.ts
  client/src/model/GetReviewsPayload.ts
  client/src/model/Notification.ts
  client/src/model/Review.ts
  client/src/pages/CoursePage.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  client/src/pages/Reviews.tsx
  crates/model/src/datetime.rs
  crates/model/src/lib.rs
  crates/model/src/review.rs
Due: cargo fmt --, prettier --write, tslint

allow retriggering workflows on PRs from forks for secrets access
  .github/workflows/ci.yaml
Due: none

Add typeshare support for `Notification` type
  client/src/components/Navbar.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/lib/repo.ts
  client/src/lib/types.ts
  client/src/model/Notification.ts
  crates/model/src/notification.rs
Due: cargo fmt --, prettier --write, tslint

Allow for now
  src/interactions.rs
Due: cargo fmt --

Add typeshare support for `Notification` type (#680)
  client/src/components/Navbar.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/lib/repo.ts
  client/src/lib/types.ts
  client/src/model/Notification.ts
  crates/model/src/notification.rs
  src/interactions.rs
Due: cargo fmt --, prettier --write, tslint

Add typeshare support for `Interaction` type
  client/src/components/CourseReview.tsx
  client/src/lib/repo.ts
  client/src/lib/types.ts
  client/src/model/GetCourseReviewsInteractionsPayload.ts
  client/src/model/GetInteractionsPayload.ts
  client/src/model/Interaction.ts
  client/src/pages/CoursePage.tsx
  crates/model/src/interaction.rs
Due: cargo fmt --, prettier --write, tslint

Add typeshare support for `Interaction` type (#681)
  client/src/components/CourseReview.tsx
  client/src/lib/repo.ts
  client/src/lib/types.ts
  client/src/model/GetCourseReviewsInteractionsPayload.ts
  client/src/model/GetInteractionsPayload.ts
  client/src/model/Interaction.ts
  client/src/pages/CoursePage.tsx
  crates/model/src/interaction.rs
Due: cargo fmt --, prettier --write, tslint

Replace `log` with `tracing`
  Cargo.lock
  Cargo.toml
  crates/db/Cargo.toml
  crates/db/src/lib.rs
  src/main.rs
  tools/changelog-generator/Cargo.toml
  tools/changelog-generator/src/main.rs
  tools/scraper/Cargo.toml
  tools/scraper/src/main.rs
Due: cargo fmt --

Add structured tracing in production
  Cargo.lock
  Cargo.toml
  crates/db/Cargo.toml
  crates/db/src/db.rs
  src/main.rs
  src/reviews.rs
  src/server.rs
  tools/changelog-generator/Cargo.toml
  tools/scraper/Cargo.toml
Due: cargo fmt --

Format
  crates/db/src/lib.rs
  src/main.rs
  tools/changelog-generator/src/main.rs
Due: cargo fmt --

Replace `log` with `tracing` (#682)
  Cargo.lock
  Cargo.toml
  crates/db/Cargo.toml
  crates/db/src/lib.rs
  src/main.rs
  tools/changelog-generator/Cargo.toml
  tools/changelog-generator/src/main.rs
  tools/scraper/Cargo.toml
  tools/scraper/src/main.rs
Due: cargo fmt --

Format
  .husky/pre-commit
  crates/db/src/db.rs
  crates/db/src/lib.rs
  src/main.rs
  tools/changelog-generator/src/main.rs
Due: cargo fmt --

Add this back
  .husky/pre-commit
Due: none

Make it exec
  .husky/pre-commit
Due: none

Lint
  Cargo.lock
  src/main.rs
  src/reviews.rs
Due: cargo fmt --

Format
  src/main.rs
Due: cargo fmt --

Add structured tracing in production (#683)
  Cargo.lock
  Cargo.toml
  crates/db/Cargo.toml
  crates/db/src/db.rs
  src/main.rs
  src/reviews.rs
  src/server.rs
  tools/changelog-generator/Cargo.toml
  tools/scraper/Cargo.toml
Due: cargo fmt --

Add hk
  .husky/pre-commit
  hk.pkl
  mise.toml
  package.json
  pnpm-lock.yaml
Due: none

Switch to pre-commit
  hk.pkl
Due: none

Use git mv
  client/src/app.tsx
  client/src/components/autocomplete.tsx
  client/src/components/footer.tsx
  client/src/components/highlight.tsx
  client/src/components/histogram.tsx
  client/src/components/layout.tsx
  client/src/components/logo.tsx
  client/src/components/navbar.tsx
  client/src/components/paragraph.tsx
  client/src/components/spinner.tsx
  client/src/components/tooltip.tsx
  client/src/model/course.ts
  client/src/model/requirements.ts
  client/src/model/schedule.ts
  client/src/pages/about.tsx
  client/src/pages/changelog.tsx
  client/src/pages/explore.tsx
  client/src/pages/home.tsx
  client/src/pages/instructor.tsx
  client/src/pages/loading.tsx
  client/src/pages/profile.tsx
  client/src/pages/reviews.tsx
Due: prettier --write, tslint

Rename `repo.ts` to `api.ts` and update all references
  client/src/components/add-review-form.tsx
  client/src/components/course-info.tsx
  client/src/components/course-review.tsx
  client/src/components/edit-review-form.tsx
  client/src/components/navbar.tsx
  client/src/components/notification-dropdown.tsx
  client/src/lib/api.ts
  client/src/pages/course-page.tsx
  client/src/pages/explore.tsx
  client/src/pages/instructor.tsx
  client/src/pages/profile.tsx
  client/src/pages/reviews.tsx
  client/src/providers/auth-provider.tsx
Due: prettier --write, tslint
