Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

try this
  .github/workflows/ci.yaml
Due: none

omg it worked
  .github/workflows/ci.yaml
Due: none

try without sleep
  .github/workflows/ci.yaml
Due: none

one line the echo
  .github/workflows/ci.yaml
Due: none

Remove old rating display components (#449)
  client/src/components/RatingInfo.tsx
  client/src/components/RatingPieChart.tsx
Due: prettier --write, tslint

limit course description length in course cards
  client/src/components/CourseCard.tsx
Due: prettier --write, tslint

not shorten highlighted descriptions
  client/src/components/CourseCard.tsx
Due: prettier --write, tslint

all tests passing
  Cargo.lock
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/Cargo.toml
  crates/model/src/course.rs
  crates/model/src/course_filter.rs
  crates/model/src/lib.rs
  src/loader.rs
  src/server.rs
Due: cargo fmt --

actually sort
  crates/db/src/db.rs
Due: cargo fmt --

sorting working
  crates/db/src/db.rs
Due: cargo fmt --

fix z index issue
  client/src/components/ExploreFilter.tsx
Due: prettier --write, tslint

it works lets gooooo
  client/src/components/Autocomplete.tsx
  client/src/components/ExploreFilter.tsx
  client/src/pages/Explore.tsx
  crates/db/src/db.rs
  crates/model/src/course_filter.rs
Due: cargo fmt --, prettier --write, tslint

move import
  crates/db/src/db.rs
  crates/db/src/lib.rs
Due: cargo fmt --

fix unused
  crates/db/src/lib.rs
Due: cargo fmt --

move sort on top
  client/src/components/ExploreFilter.tsx
Due: prettier --write, tslint

sort courses properly
  client/src/pages/Explore.tsx
  crates/db/src/db.rs
Due: cargo fmt --, prettier --write, tslint

Limit word count on course descriptions in explore page (#452)
  client/src/components/CourseCard.tsx
Due: prettier --write, tslint

add flexsearch package
  package-lock.json
  package.json
Due: none

Formatting
  crates/db/src/db.rs
Due: cargo fmt --

Replace home search with flexsearch
  client/src/components/CourseSearchBar.tsx
  client/src/components/SearchBar.tsx
  client/src/lib/utils.ts
  client/src/pages/Home.tsx
Due: prettier --write, tslint

restyle main search bar
  client/src/components/CourseSearchBar.tsx
  client/src/pages/Home.tsx
Due: prettier --write, tslint

get 4 courses instead of 6
  client/src/pages/Home.tsx
Due: prettier --write, tslint

typescript stuff
  client/src/pages/Home.tsx
Due: prettier --write, tslint

forgot to commit pnpm lock
  pnpm-lock.yaml
Due: none

Delete package-lock.json
  package-lock.json
Due: none

fix typo
  package.json
Due: none

format
  pnpm-lock.yaml
Due: none

try fixing ci build
  package.json
  pnpm-lock.yaml
Due: none

fix pnpm lock
  pnpm-lock.yaml
Due: none

fix type
  client/src/components/SearchBar.tsx
Due: prettier --write, tslint

???
  pnpm-lock.yaml
Due: none

prune store
  .github/workflows/ci.yaml
Due: none

nvm
  .github/workflows/ci.yaml
Due: none

update pnpm lock
  pnpm-lock.yaml
Due: none

use lodash
  client/src/lib/utils.ts
  client/src/pages/Home.tsx
Due: prettier --write, tslint

fix types
  client/src/pages/Home.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
