Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

Tweak
  src/courses.rs
Due: cargo fmt --

Add security
  src/documentation.rs
  src/main.rs
  src/reviews.rs
Due: cargo fmt --

Add documentation for review related endpoints (#713)
  src/courses.rs
  src/documentation.rs
  src/main.rs
  src/reviews.rs
Due: cargo fmt --

Add documentation
  crates/model/src/notification.rs
  src/documentation.rs
  src/main.rs
  src/notifications.rs
Due: cargo fmt --

Add documentation for notification related endpoints (#714)
  crates/model/src/notification.rs
  src/documentation.rs
  src/main.rs
  src/notifications.rs
Due: cargo fmt --

Rename
  client/src/components/navbar.tsx
  client/src/lib/search-index.ts
  client/src/model/search-results.ts
  client/src/pages/home.tsx
Due: prettier --write, tslint

Port
  client/src/assets/building-codes.json
  client/src/assets/building-coordinates.json
  client/src/assets/course-averages-data.json
  client/src/assets/course-codes.json
  client/src/assets/logo-darkmode.svg
  client/src/assets/logo-lightmode.svg
  client/src/assets/mcgill-design-consultancy.png
  client/src/assets/search-data.json
  client/src/assets/searchData.json
  client/src/components/building-location.tsx
  client/src/components/explore-filter.tsx
  client/src/components/logo.tsx
  client/src/components/schedules-display.tsx
  client/src/components/visual-schedule.tsx
  client/src/lib/search-index.ts
  client/src/pages/about.tsx
  client/src/pages/course-page.tsx
Due: prettier --write, tslint

Update
  README.md
  tools/search-index-aggregator/README.md
  tools/search-index-aggregator/main.py
Due: none

Migrate client assets to use kebab case (#715)
  README.md
  client/src/assets/building-codes.json
  client/src/assets/building-coordinates.json
  client/src/assets/course-averages-data.json
  client/src/assets/course-codes.json
  client/src/assets/logo-darkmode.svg
  client/src/assets/logo-lightmode.svg
  client/src/assets/mcgill-design-consultancy.png
  client/src/assets/search-data.json
  client/src/assets/searchData.json
  client/src/components/building-location.tsx
  client/src/components/explore-filter.tsx
  client/src/components/logo.tsx
  client/src/components/navbar.tsx
  client/src/components/schedules-display.tsx
  client/src/components/visual-schedule.tsx
  client/src/lib/search-index.ts
  client/src/model/search-results.ts
  client/src/pages/about.tsx
  client/src/pages/course-page.tsx
  client/src/pages/home.tsx
  tools/search-index-aggregator/README.md
  tools/search-index-aggregator/main.py
Due: prettier --write, tslint

Add work
  client/src/components/course-graph.tsx
  client/src/components/course-requirements.tsx
  client/src/lib/types.ts
  client/src/model/course.ts
  client/src/model/requirements.ts
  client/src/pages/course-page.tsx
  crates/model/src/requirements.rs
Due: cargo fmt --, prettier --write, tslint

Add api type
  client/src/components/course-graph.tsx
  client/src/lib/api.ts
  client/src/lib/types.ts
  client/src/model/get-reviews-payload.ts
  crates/db/src/db.rs
  crates/model/src/review.rs
  src/reviews.rs
Due: cargo fmt --, prettier --write, tslint

Don't change this
  src/reviews.rs
Due: cargo fmt --

Try into
  src/reviews.rs
Due: cargo fmt --

Add typeshare support for `Requirements` type (#716)
  client/src/components/course-graph.tsx
  client/src/components/course-requirements.tsx
  client/src/lib/api.ts
  client/src/lib/types.ts
  client/src/model/course.ts
  client/src/model/get-reviews-payload.ts
  client/src/model/requirements.ts
  client/src/pages/course-page.tsx
  crates/db/src/db.rs
  crates/model/src/requirements.rs
  crates/model/src/review.rs
  src/reviews.rs
Due: cargo fmt --, prettier --write, tslint

Add links to course codes without spaces in requirements section
  client/src/components/course-requirements.tsx
Due: prettier --write, tslint

Add links to course codes without spaces in requirements section (#717)
  client/src/components/course-requirements.tsx
Due: prettier --write, tslint

Add docs
  crates/model/src/search_results.rs
  src/documentation.rs
  src/main.rs
  src/search.rs
Due: cargo fmt --

Tweak
  src/search.rs
Due: cargo fmt --

Add documentation for search related endpoints (#718)
  crates/model/src/search_results.rs
  src/documentation.rs
  src/main.rs
  src/search.rs
Due: cargo fmt --

Disable body scrolling to prevent overflow
  client/src/index.css
Due: none

Format
  client/src/index.css
Due: none

Add fix
  crates/model/src/subscription.rs
  src/documentation.rs
  src/main.rs
  src/subscriptions.rs
Due: cargo fmt --

Sort
  src/documentation.rs
Due: cargo fmt --

Add more tests
  src/server.rs
Due: cargo fmt --

Add documentation for subscription related endpoints (#722)
  crates/model/src/subscription.rs
  src/documentation.rs
  src/main.rs
  src/server.rs
  src/subscriptions.rs
Due: cargo fmt --

Add docs
  src/documentation.rs
  src/instructors.rs
Due: cargo fmt --

Tweak
  src/instructors.rs
Due: cargo fmt --

Add documentation for instructor related endpoints (#723)
  src/documentation.rs
  src/instructors.rs
Due: cargo fmt --

Add documentation for user related endpoints
  src/documentation.rs
  src/user.rs
Due: cargo fmt --

Add documentation for interactions related endpoints
  crates/model/src/interaction.rs
  src/documentation.rs
  src/interactions.rs
Due: cargo fmt --

Add documentation for user related endpoints (#724)
  src/documentation.rs
  src/user.rs
Due: cargo fmt --

Add documentation for interactions related endpoints (#725)
  crates/model/src/interaction.rs
  src/documentation.rs
  src/interactions.rs
Due: cargo fmt --

Add documentation for authentication related endpoints
  src/auth.rs
  src/documentation.rs
Due: cargo fmt --

Add documentation for authentication related endpoints (#726)
  src/auth.rs
  src/documentation.rs
Due: cargo fmt --

Add typeshare support `GetUserInteractionForCoursePayload` type
  client/src/lib/api.ts
  client/src/lib/types.ts
  client/src/model/get-course-reviews-interactions-payload.ts
  src/interactions.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Add typeshare support for `GetUserInteractionForCoursePayload` type (#727)
  client/src/lib/api.ts
  client/src/lib/types.ts
  client/src/model/get-course-reviews-interactions-payload.ts
  src/interactions.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Scroll to targeted course reviews when navigating from profile or notifications
  client/src/components/course-review.tsx
  client/src/components/notification-dropdown.tsx
  client/src/lib/types.ts
  client/src/lib/utils.ts
  client/src/pages/course-page.tsx
  client/src/pages/profile.tsx
Due: prettier --write, tslint

Add tests
  client/src/components/course-review.test.tsx
  client/src/pages/course-page.test.tsx
Due: prettier --write, tslint

Run verbose in ci
  .github/workflows/ci.yaml
Due: none

Add animation
  client/src/components/course-review.tsx
  client/src/components/notification-dropdown.tsx
  client/src/pages/course-page.tsx
  client/src/pages/instructor.tsx
  client/src/pages/profile.tsx
Due: prettier --write, tslint

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
