Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Add content label and evenly distribute margins on review card (#434)
  client/src/components/MultiSelect.tsx
  client/src/components/ReviewForm.tsx
Due: prettier --write, tslint

Restructure about page content
  client/src/pages/About.tsx
Due: prettier --write, tslint

Add skeletons when explore page is loading
  client/src/App.tsx
  client/src/pages/Explore.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

format
  pnpm-lock.yaml
Due: none

Tweak styles and options
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Add skeletons when explore page is loading (#437)
  client/src/App.tsx
  client/src/pages/Explore.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Restructure about page content (#436)
  client/src/pages/About.tsx
Due: prettier --write, tslint

Tweak
  client/src/components/CourseCard.tsx
  client/src/pages/Explore.tsx
  crates/db/src/db.rs
Due: cargo fmt --, prettier --write, tslint

No dots
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Clippy based
  crates/db/src/db.rs
Due: cargo fmt --

Add test for querying courses
  Cargo.lock
  crates/db/Cargo.toml
  crates/db/src/db.rs
Due: cargo fmt --

Assert that we have results
  crates/db/src/db.rs
Due: cargo fmt --

Remove setting inner span classnames
  client/src/components/Highlight.tsx
Due: prettier --write, tslint

Pull out search bar component
  client/src/components/CourseSearchBar.tsx
  client/src/components/SearchBar.tsx
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Thank you clippy I love you
  crates/db/src/db.rs
Due: cargo fmt --

Inline function
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Improve test
  crates/db/src/db.rs
Due: cargo fmt --

Remove thing
  crates/db/src/db.rs
Due: cargo fmt --

Allow full-text search on explore page (#421)
  Cargo.lock
  client/src/components/CourseCard.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/Highlight.tsx
  client/src/components/SearchBar.tsx
  client/src/pages/Explore.tsx
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/src/course_filter.rs
  crates/model/src/lib.rs
  src/courses.rs
  src/main.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Sort reviews by date on instructor page
  src/instructors.rs
Due: cargo fmt --

Linter tf?
  crates/db/src/combine.rs
Due: cargo fmt --

More lint shenanigans
  src/loader.rs
Due: cargo fmt --

Sort reviews by date on instructor page (#439)
  crates/db/src/combine.rs
  src/instructors.rs
  src/loader.rs
Due: cargo fmt --

Add instructors to explore full-text search
  client/src/components/CourseCard.tsx
  client/src/components/CourseTerms.tsx
  client/src/components/SearchBar.tsx
  client/src/pages/Explore.tsx
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/db/src/lib.rs
Due: cargo fmt --, prettier --write, tslint

Fix spacing issue
  client/src/components/CourseTerms.tsx
Due: prettier --write, tslint

Cleanup db code
  crates/db/src/db.rs
Due: cargo fmt --

workin
  client/src/components/VisualSchedule.tsx
  client/src/lib/utils.ts
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

add space
  client/src/components/VisualSchedule.tsx
Due: prettier --write, tslint

Move current terms fn into utils
  .prettierignore
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/db/src/utils.rs
  crates/extractor/src/lib.rs
  crates/extractor/test-samples/course_listings_2009_2010.html
  crates/extractor/test-samples/course_listings_2022_2023.html
  crates/extractor/test-samples/course_page_2009_2010.html
  crates/extractor/test-samples/course_page_2022_2023.html
  crates/extractor/test-samples/course_page_with_amp.html
  crates/extractor/test-samples/course_schedules_202305.xml
Due: cargo fmt --

Remove spellcheck
  client/src/components/SearchBar.tsx
Due: prettier --write, tslint

Merge if source already exists
  src/loader.rs
  src/main.rs
  src/merge.rs
Due: cargo fmt --

works for now
  client/src/components/Tooltip.tsx
  client/src/components/VisualSchedule.tsx
Due: prettier --write, tslint

remove unused
  client/src/components/VisualSchedule.tsx
Due: prettier --write, tslint

fix absolutely positioned reset button
  client/src/components/ReviewFilter.tsx
Due: prettier --write, tslint

Fix absolutely positioned review filter reset button (#443)
  client/src/components/ReviewFilter.tsx
Due: prettier --write, tslint

Add a basic error boundary
  client/src/components/ErrorPage.tsx
  client/src/main.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Format
  pnpm-lock.yaml
Due: none

Typo
  client/src/components/ErrorPage.tsx
Due: prettier --write, tslint

Move error page to /pages directory
  client/src/main.tsx
  client/src/pages/ErrorPage.tsx
Due: prettier --write, tslint
