Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Parse html document from requirement text after prefix (#352)
  client/src/components/CourseRequirements.tsx
Due: prettier --write, tslint

Only re-initialize the database if source hash changed
  Cargo.lock
  Cargo.toml
  src/hash.rs
  src/loader.rs
  src/main.rs
  src/server.rs
Due: cargo fmt --

Simplify hash function
  hash.txt
  src/hash.rs
Due: cargo fmt --

Tweak
  Cargo.toml
  src/hash.rs
Due: cargo fmt --

Add tests for hash function
  Cargo.lock
  Cargo.toml
  src/hash.rs
Due: cargo fmt --

Yeet out .txt
  hash
  src/server.rs
Due: cargo fmt --

yeat
  hash.bin
  src/hash.rs
  src/server.rs
Due: cargo fmt --

Use .source-hash instead
  .source-hash
  src/server.rs
Due: cargo fmt --

Only re-initialize the database if source hash changed (#353)
  .source-hash
  Cargo.lock
  Cargo.toml
  src/hash.rs
  src/loader.rs
  src/main.rs
  src/server.rs
Due: cargo fmt --

Store source hash in S3
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/object.rs
  src/server.rs
Due: cargo fmt --

Tweak envs
  .env.dev.example
  .env.prod.example
Due: none

Only interact with S3 in production
  src/server.rs
Due: cargo fmt --

Add `ENV` var to prod example env
  .env.prod.example
Due: none

Avoid unwrapping the response
  src/object.rs
Due: cargo fmt --

Remove source hash from vcs
  .source-hash
Due: none

Remove ting
  src/server.rs
Due: cargo fmt --

Store source hash in S3 (#355)
  .env.dev.example
  .env.prod.example
  .source-hash
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/object.rs
  src/server.rs
Due: cargo fmt --

Compute source hash check solely on initialization
  src/server.rs
Due: cargo fmt --

Compute source hash check solely on initialization (#356)
  src/server.rs
Due: cargo fmt --

Add building code for `ARMST` shorthand
  client/src/assets/buildingCodes.json
Due: none

Add building code for `ARMST` shorthand (#357)
  client/src/assets/buildingCodes.json
Due: none

Use rustls with rusoto crate
  Cargo.lock
  Cargo.toml
Due: none

Use rustls with rusoto crate (#359)
  Cargo.lock
  Cargo.toml
Due: none

Install `ca-certificates` package in dockerfile
  Dockerfile
Due: none

Install `ca-certificates` package in dockerfile (#360)
  Dockerfile
Due: none

Default to `info` log level if `RUST_LOG` isn't set
  src/main.rs
Due: cargo fmt --

Default to `info` log level if `RUST_LOG` isn't set (#361)
  src/main.rs
Due: cargo fmt --

Capitalize and punctuate course restrictions text
  client/src/components/CourseRequirements.tsx
Due: prettier --write, tslint

Capitalize and punctuate course restrictions text (#362)
  client/src/components/CourseRequirements.tsx
Due: prettier --write, tslint

Apply consistent vertical spacing to course card terms
  client/src/components/CourseCard.tsx
  client/src/components/CourseTerms.tsx
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Apply consistent vertical spacing to course card terms (#363)
  client/src/components/CourseCard.tsx
  client/src/components/CourseTerms.tsx
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Add initial work
  client/src/components/CourseGraph.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/RatingPieChart.tsx
  client/src/lib/utils.ts
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Fix profile/instructor styling on mobile
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Add back course titles and `View Course` links
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

mobile design work
  .source-hash
  client/src/components/BirdIcon.tsx
  client/src/components/CourseGraph.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseInfoStats.tsx
  client/src/components/CourseRequirements.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/CourseTerms.tsx
  client/src/components/IconRating.tsx
  client/src/components/Layout.tsx
  client/src/components/Navbar.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/lib/utils.ts
  client/src/pages/CoursePage.tsx
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

Remove invalid property
  client/src/components/BirdIcon.tsx
Due: prettier --write, tslint

Add offset to course graph
  client/src/components/CourseGraph.tsx
Due: prettier --write, tslint

Don't display stats if there are no reviews
  client/src/components/CourseInfoStats.tsx
Due: prettier --write, tslint

Modify review interaction icons
  client/src/components/CourseReview.tsx
Due: prettier --write, tslint

Fix not offered badge
  client/src/components/CourseTerms.tsx
Due: prettier --write, tslint
