Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

oops
  .github/workflows/ci.yaml
Due: none

try switching toolchain
  .github/workflows/ci.yaml
Due: none

a
  .github/workflows/ci.yaml
Due: none

fix no instructor
  client/src/components/CourseTerms.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

Support displaying multiple instructors in course terms (#566)
  .github/workflows/ci.yaml
  client/src/components/CourseAverages.tsx
  client/src/components/CourseTerms.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/lib/utils.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Remove cursor events from 'No Instructor Assigned'
  client/src/components/CourseTerms.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

don't display expand button in explore page
  client/src/components/CourseTerms.tsx
Due: prettier --write, tslint

simplify logic
  client/src/components/CourseTerms.tsx
Due: prettier --write, tslint

Remove click handler from course terms without instructor (#568)
  client/src/components/CourseTerms.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

Make text on explore page more readable on mobile
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Make text on explore page more readable on mobile (#569)
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Display full list of instructors in course averages
  client/src/components/CourseAverages.tsx
  client/src/components/CourseTerms.tsx
Due: prettier --write, tslint

reset show all on course change
  client/src/components/CourseAverages.tsx
Due: prettier --write, tslint

Add ml
  client/src/components/CourseAverages.tsx
Due: prettier --write, tslint

More ml (machine learning)
  client/src/components/CourseTerms.tsx
Due: prettier --write, tslint

Display full list of instructors in course averages (#572)
  client/src/components/CourseAverages.tsx
  client/src/components/CourseTerms.tsx
Due: prettier --write, tslint

Make reviews page text more readable on mobile
  client/src/pages/Reviews.tsx
Due: prettier --write, tslint

Make reviews page header text more readable on mobile (#573)
  client/src/pages/Reviews.tsx
Due: prettier --write, tslint

Add changelog page
  Cargo.lock
  Cargo.toml
  client/src/App.tsx
  client/src/assets/changelog.json
  client/src/components/Footer.tsx
  client/src/model/ChangelogItem.ts
  client/src/pages/Changelog.tsx
  tools/changelog-gen/Cargo.toml
  tools/changelog-gen/README.md
  tools/changelog-gen/justfile
  tools/changelog-gen/prompt.txt
  tools/changelog-gen/src/main.rs
Due: cargo fmt --, prettier --write, tslint

Yeet em
  client/src/assets/changelog.json
  tools/changelog-gen/README.md
  tools/changelog-gen/justfile
  tools/changelog-gen/prompt.txt
  tools/changelog-gen/src/main.rs
Due: cargo fmt --

Fix lint error
  tools/changelog-gen/src/main.rs
Due: cargo fmt --

Place after about page
  client/src/components/Footer.tsx
Due: prettier --write, tslint

Regenerate and add to CI
  .github/workflows/ci.yaml
  client/src/assets/changelog.json
  tools/changelog-gen/prompt.txt
Due: none

Readme
  client/src/assets/changelog.json
  tools/changelog-gen/README.md
Due: none

Tweak prompt
  tools/changelog-gen/prompt.txt
Due: none

Regen + tweak
  client/src/assets/changelog.json
  client/src/pages/Changelog.tsx
  tools/changelog-gen/prompt.txt
  tools/changelog-gen/src/main.rs
Due: cargo fmt --, prettier --write, tslint

More regen
  client/src/assets/changelog.json
Due: none

Format
  client/src/assets/changelog.json
Due: none

More yeet
  client/src/assets/changelog.json
Due: none

Unlink changelog + updates to about page
  client/src/components/Footer.tsx
  client/src/pages/About.tsx
Due: prettier --write, tslint

Don't run in CI
  .github/workflows/ci.yaml
Due: none

Yeet
  tools/changelog-gen/README.md
Due: none

Add changelog page (#574)
  Cargo.lock
  Cargo.toml
  client/src/App.tsx
  client/src/assets/changelog.json
  client/src/model/ChangelogItem.ts
  client/src/pages/About.tsx
  client/src/pages/Changelog.tsx
  tools/changelog-gen/Cargo.toml
  tools/changelog-gen/README.md
  tools/changelog-gen/justfile
  tools/changelog-gen/prompt.txt
  tools/changelog-gen/src/main.rs
Due: cargo fmt --, prettier --write, tslint

fix instructor display issue with
  client/src/components/CourseTerms.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

some code styles
  client/src/components/CourseTerms.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

Fix the ui displaying last year's instructors (#576)
  client/src/components/CourseTerms.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

don't combine schedules when scraping
  crates/model/src/course.rs
Due: cargo fmt --
