Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Add typeshare for automatic server-side type conversion
  Cargo.lock
  client/src/lib/repo.ts
  client/src/lib/types.ts
  client/src/model/Subscription.ts
  client/src/pages/Profile.tsx
  crates/model/Cargo.toml
  crates/model/src/lib.rs
  crates/model/src/subscription.rs
  justfile
Due: cargo fmt --, prettier --write, tslint

Fix up deps
  Cargo.lock
  Cargo.toml
  crates/db/Cargo.toml
  crates/model/Cargo.toml
Due: none

Convert user
  client/src/lib/repo.ts
  client/src/lib/types.ts
  client/src/model/User.ts
  justfile
  src/main.rs
  src/user.rs
Due: cargo fmt --, prettier --write, tslint

Migrate over `Instructor`
  client/src/components/CourseAverages.tsx
  client/src/lib/types.ts
  client/src/lib/utils.ts
  client/src/model/Course.ts
  client/src/model/GetInstructorPayload.ts
  client/src/model/Instructor.ts
  client/src/pages/Instructor.tsx
  client/src/providers/AuthProvider.tsx
  crates/model/src/instructor.rs
Due: cargo fmt --, prettier --write, tslint

Format
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/db/src/str_ext.rs
Due: cargo fmt --

Format
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/src/lib.rs
  src/main.rs
Due: cargo fmt --

Use format
  tools/scraper/src/utils.rs
Due: cargo fmt --

Add typeshare for automatic server-side type conversion (#664)
  Cargo.lock
  Cargo.toml
  client/src/components/CourseAverages.tsx
  client/src/lib/repo.ts
  client/src/lib/types.ts
  client/src/lib/utils.ts
  client/src/model/Course.ts
  client/src/model/GetInstructorPayload.ts
  client/src/model/Instructor.ts
  client/src/model/Subscription.ts
  client/src/model/User.ts
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  client/src/providers/AuthProvider.tsx
  crates/db/Cargo.toml
  crates/db/src/str_ext.rs
  crates/model/Cargo.toml
  crates/model/src/instructor.rs
  crates/model/src/lib.rs
  crates/model/src/subscription.rs
  justfile
  src/main.rs
  src/user.rs
  tools/scraper/src/utils.rs
Due: cargo fmt --, prettier --write, tslint

automate vsb authentication
  Cargo.lock
  justfile
  tools/scraper/Cargo.toml
  tools/scraper/src/auth.rs
  tools/scraper/src/loader.rs
  tools/scraper/src/main.rs
  tools/scraper/src/utils.rs
Due: cargo fmt --

remove smol
  Cargo.lock
  tools/scraper/Cargo.toml
  tools/scraper/src/auth.rs
Due: cargo fmt --

Add typeshare for automatic server-side type conversion (#664)
  Cargo.lock
  Cargo.toml
  client/src/components/CourseAverages.tsx
  client/src/lib/repo.ts
  client/src/lib/types.ts
  client/src/lib/utils.ts
  client/src/model/Course.ts
  client/src/model/GetInstructorPayload.ts
  client/src/model/Instructor.ts
  client/src/model/Subscription.ts
  client/src/model/User.ts
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  client/src/providers/AuthProvider.tsx
  crates/db/Cargo.toml
  crates/db/src/str_ext.rs
  crates/model/Cargo.toml
  crates/model/src/instructor.rs
  crates/model/src/lib.rs
  crates/model/src/subscription.rs
  justfile
  src/main.rs
  src/user.rs
Due: cargo fmt --, prettier --write, tslint

clippy
  tools/scraper/src/loader.rs
Due: cargo fmt --

Add chromedriver to dev deps
  justfile
Due: none

refactor
  tools/scraper/src/main.rs
Due: cargo fmt --

Refactor
  tools/scraper/src/auth.rs
  tools/scraper/src/main.rs
Due: cargo fmt --

Remove unwrap
  tools/scraper/src/auth.rs
  tools/scraper/src/main.rs
Due: cargo fmt --

Remove public
  tools/scraper/src/auth.rs
Due: cargo fmt --

Minor tweaks
  tools/scraper/src/auth.rs
Due: cargo fmt --

Automate vsb authentication for scraper (#665)
  Cargo.lock
  justfile
  tools/scraper/Cargo.toml
  tools/scraper/src/auth.rs
  tools/scraper/src/loader.rs
  tools/scraper/src/main.rs
Due: cargo fmt --

Exclude scraper test samples from language overview
  .gitattributes
Due: none

Exclude scraper test samples from language overview (#666)
  .gitattributes
Due: none

Decouple seeding from server entrypoint
  Cargo.lock
  Cargo.toml
  Dockerfile
  crates/db/src/initializer.rs
  crates/model/src/initialize_options.rs
  src/arguments.rs
  src/hash.rs
  src/main.rs
  src/object.rs
  src/options.rs
  src/seeder.rs
  src/server.rs
  src/subcommand.rs
Due: cargo fmt --

Format
  src/main.rs
Due: cargo fmt --

Remove unused dependencies
  Cargo.lock
  Cargo.toml
  crates/model/Cargo.toml
  tools/scraper/Cargo.toml
Due: none

fix "no more courses to show" alignment on mobile
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Fix "no more courses to show" alignment on mobile (#668)
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Update changelog
  client/src/assets/changelog.json
Due: none

Update changelog entries (#669)
  client/src/assets/changelog.json
Due: none

Update justfile
  justfile
Due: none

More dep stuff
  Cargo.lock
  Cargo.toml
  tools/changelog-generator/Cargo.toml
  tools/scraper/Cargo.toml
Due: none

Add automation server
  .env.prod.example
  Cargo.lock
  Cargo.toml
  automation/Cargo.toml
  automation/checkout
  automation/src/main.rs
  crates/db/src/initializer.rs
  src/seeder.rs
Due: cargo fmt --

Show location modal on click for course schedule buildings
  client/.env.prod.example
  client/src/assets/buildingCoordinates.json
  client/src/components/BuildingLocation.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/lib/constants.ts
  client/src/vite-env.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Don't open dialog if building coordinates is `null`
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Show location modal on click for course schedule buildings (#670)
  client/.env.prod.example
  client/src/assets/buildingCoordinates.json
  client/src/components/BuildingLocation.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/lib/constants.ts
  client/src/vite-env.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Provide `VITE_GOOGLE_API_KEY` to client production build
  Dockerfile
Due: none

Provide `VITE_GOOGLE_API_KEY` to client production build (#671)
  Dockerfile
Due: none

Fix lint
  crates/db/src/db.rs
Due: cargo fmt --
