Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

fix build error
  client/src/pages/ErrorPage.tsx
Due: prettier --write, tslint

Fix lint error
  crates/db/src/db.rs
Due: cargo fmt --

use type-only import
  client/src/components/AddReviewForm.tsx
  client/src/components/CourseCard.tsx
  client/src/components/CourseGraph.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseInfoStats.tsx
  client/src/components/CourseRequirements.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/CourseTerms.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/Navbar.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/components/ReviewFilter.tsx
  client/src/components/ReviewForm.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/lib/repo.ts
  client/src/lib/utils.ts
  client/src/model/Course.ts
  client/src/model/GetCourseWithReviewsPayload.ts
  client/src/model/GetInstructorPayload.ts
  client/src/model/GetInteractionsPayload.ts
  client/src/model/Notification.ts
  client/src/model/SearchResults.ts
  client/src/pages/CoursePage.tsx
  client/src/pages/Explore.tsx
  client/src/pages/Home.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  client/src/providers/AuthProvider.tsx
Due: prettier --write, tslint

Add a basic error boundary (#444)
  client/src/main.tsx
  client/src/pages/ErrorPage.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Switch to type-only imports when importing typescript types (#445)
  client/src/components/AddReviewForm.tsx
  client/src/components/CourseCard.tsx
  client/src/components/CourseGraph.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseInfoStats.tsx
  client/src/components/CourseRequirements.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/CourseTerms.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/Navbar.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/components/ReviewFilter.tsx
  client/src/components/ReviewForm.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/lib/repo.ts
  client/src/lib/utils.ts
  client/src/model/Course.ts
  client/src/model/GetCourseWithReviewsPayload.ts
  client/src/model/GetInstructorPayload.ts
  client/src/model/GetInteractionsPayload.ts
  client/src/model/Notification.ts
  client/src/model/SearchResults.ts
  client/src/pages/CoursePage.tsx
  client/src/pages/Explore.tsx
  client/src/pages/Home.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  client/src/providers/AuthProvider.tsx
Due: prettier --write, tslint

More lint fixes
  src/loader.rs
Due: cargo fmt --

Ignore extractor test samples in code report
  .gitattributes
Due: none

Ignore extractor test samples in code report (#446)
  .gitattributes
Due: none

Simplify course merge function
  crates/model/src/course.rs
Due: cargo fmt --

fix histogram going over background
  client/src/components/CourseInfo.tsx
Due: prettier --write, tslint

Disallow histogram display from overflowing its container (#448)
  client/src/components/CourseInfo.tsx
Due: prettier --write, tslint

Remove old rating display components
  client/src/components/RatingInfo.tsx
  client/src/components/RatingPieChart.tsx
Due: prettier --write, tslint

trying
  client/src/components/ReviewFilter.tsx
  client/src/model/Review.ts
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/src/review.rs
  docker-compose.yml
  src/courses.rs
  src/interactions.rs
  src/reviews.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

remove unreachable
  crates/db/src/db.rs
  crates/db/src/lib.rs
Due: cargo fmt --

connection string + interaction fixes
  crates/db/src/db.rs
  docker-compose.yml
Due: cargo fmt --

Mergies
  docker-compose.yml
  justfile
Due: none

Init replica set
  justfile
Due: none

small cleanup
  crates/db/src/db.rs
  crates/db/src/lib.rs
Due: cargo fmt --

update connection strings
  src/server.rs
  src/state.rs
Due: cargo fmt --

Remove custom deser code
  Cargo.lock
  crates/model/Cargo.toml
  crates/model/src/lib.rs
  crates/model/src/review.rs
Due: cargo fmt --

it works
  client/src/components/CourseReview.tsx
  client/src/components/ReviewFilter.tsx
Due: prettier --write, tslint

remove log
  src/courses.rs
Due: cargo fmt --

update likes on frontend
  client/src/components/CourseReview.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

fix build
  client/src/components/CourseReview.tsx
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

initiate replica set in CI
  .github/workflows/ci.yaml
Due: none

trying something
  .github/workflows/ci.yaml
Due: none

fork?
  .github/workflows/ci.yaml
Due: none

log
  .github/workflows/ci.yaml
Due: none

sleep?
  .github/workflows/ci.yaml
Due: none

more sleep?
  .github/workflows/ci.yaml
Due: none

sleep
  .github/workflows/ci.yaml
Due: none

actually run
  .github/workflows/ci.yaml
Due: none

different detach method?
  .github/workflows/ci.yaml
Due: none

fix typo
  .github/workflows/ci.yaml
Due: none

just try to get it to work
  .github/workflows/ci.yaml
Due: none

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
