Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

Tweak
  justfile
Due: none

Downgrade flexsearch
  client/src/lib/searchIndex.ts
  pnpm-lock.yaml
Due: prettier --write, tslint

Add usage to changelog-gen tool
  tools/changelog-gen/README.md
Due: none

Update dependencies (#594)
  Cargo.lock
  Cargo.toml
  client/src/assets/changelog.json
  client/src/lib/searchIndex.ts
  client/src/pages/Explore.tsx
  crates/db/Cargo.toml
  crates/extractor/Cargo.toml
  crates/model/Cargo.toml
  justfile
  package.json
  pnpm-lock.yaml
  tools/changelog-gen/Cargo.toml
  tools/changelog-gen/README.md
  tools/changelog-gen/src/main.rs
Due: cargo fmt --, prettier --write, tslint

Make it match in size with the rest
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Improve hover styling on profile dropdown
  client/src/components/ProfileDropdown.tsx
Due: prettier --write, tslint

Inline it
  client/src/components/ProfileDropdown.tsx
Due: prettier --write, tslint

Tweak
  client/src/components/ProfileDropdown.tsx
Due: prettier --write, tslint

Cleanup brew
  .github/workflows/ci.yaml
Due: none

Try this
  .github/workflows/ci.yaml
Due: none

Upgrade
  .github/workflows/ci.yaml
Due: none

Last resort
  .github/workflows/ci.yaml
Due: none

Revert
  .github/workflows/ci.yaml
Due: none

Try force
  .github/workflows/ci.yaml
Due: none

Remove -f
  .github/workflows/ci.yaml
Due: none

Try
  .github/workflows/ci.yaml
Due: none

Checkout
  .github/workflows/ci.yaml
Due: none

Maybe
  .github/workflows/ci.yaml
Due: none

Cs
  .github/workflows/ci.yaml
Due: none

tappy
  .github/workflows/ci.yaml
Due: none

Just do it
  .github/workflows/ci.yaml
Due: none

Improve hover styling on profile dropdown (#598)
  client/src/components/ProfileDropdown.tsx
Due: prettier --write, tslint

Streamline about page copy and design
  client/src/pages/About.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Re-generate changelog
  client/src/assets/changelog.json
Due: none

Format
  client/src/assets/changelog.json
Due: none

Streamline about page copy and design (#604)
  client/src/assets/changelog.json
  client/src/pages/About.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Update S2024 course average data
  client/src/assets/courseAveragesData.json
Due: none

Differentiate scraped reviews
  client/src/components/CourseReview.tsx
Due: prettier --write, tslint

ci
  .github/workflows/ci.yaml
Due: none

Make it red
  client/src/components/CourseReview.tsx
Due: prettier --write, tslint

Modify how we compute the unique user count
  crates/db/src/db.rs
  crates/db/src/lib.rs
Due: cargo fmt --

Update review page copy
  client/src/pages/Reviews.tsx
Due: prettier --write, tslint

More
  client/src/pages/Reviews.tsx
Due: prettier --write, tslint

Add comment
  crates/db/src/db.rs
Due: cargo fmt --

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
