Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

add responsiveness
  client/src/components/CourseInfo.tsx
  client/src/components/RatingInfo.tsx
Due: prettier --write, tslint

fmt
  client/src/components/RatingHistogram.tsx
Due: prettier --write, tslint

fix instructor page build
  client/src/components/RatingInfo.tsx
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

add chart type button for instructor page
  client/src/components/CourseInfo.tsx
  client/src/components/RatingHistogram.tsx
  client/src/components/RatingInfo.tsx
  client/src/components/RatingPieChart.tsx
  client/src/lib/utils.ts
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

remove console.log
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

delete unused component
  client/src/components/Toggle.tsx
Due: prettier --write, tslint

Correct rating histogram props type
  client/src/components/RatingHistogram.tsx
Due: prettier --write, tslint

lint
  client/src/components/CourseInfo.tsx
Due: prettier --write, tslint

simplify summing ratings
  client/src/components/RatingHistogram.tsx
Due: prettier --write, tslint

ratings now is an array
  client/src/components/CourseInfo.tsx
  client/src/components/RatingHistogram.tsx
  client/src/components/RatingInfo.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

refactor chart() function
  client/src/components/RatingInfo.tsx
Due: prettier --write, tslint

simplify average rating
  client/src/components/RatingHistogram.tsx
  client/src/components/RatingInfo.tsx
Due: prettier --write, tslint

change doughnut ratio
  client/src/components/RatingPieChart.tsx
Due: prettier --write, tslint

switch to chart js instead of making my own painful graph
  client/src/components/CourseInfo.tsx
  client/src/components/RatingHistogram.tsx
  client/src/components/RatingInfo.tsx
  client/src/components/RatingPieChart.tsx
  package-lock.json
  package.json
Due: prettier --write, tslint

Remove empty className
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Disallow open-schedule button from overflowing on small screens (#345)
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Correct course code definition
  crates/extractor/llm_data/example.txt
Due: none

Update example
  crates/extractor/llm_data/example.txt
Due: none

remove langchain dependency
  pyproject.toml
Due: none

postprocessing + tests
  Cargo.lock
  crates/extractor/Cargo.toml
  crates/extractor/llm_data/example.txt
  crates/extractor/python/gpt_parser.py
  crates/extractor/src/lib.rs
  crates/extractor/src/req_parser.rs
  crates/extractor/src/requirements_ext.rs
  poetry.lock
  pyproject.toml
Due: cargo fmt --

almost there
  crates/extractor/llm_data/example.txt
  crates/extractor/python/gpt_parser.py
  crates/extractor/storage/docstore.json
  crates/extractor/storage/graph_store.json
  crates/extractor/storage/index_store.json
  crates/extractor/storage/vector_store.json
  crates/model/src/course.rs
  crates/model/src/requirements.rs
  src/loader.rs
Due: cargo fmt --

Fix issue where vsb would be queried when --scrape-vsb was false
  src/loader.rs
Due: cargo fmt --

Parse requirements from <a> hrefs
  crates/extractor/src/lib.rs
  crates/extractor/src/requirements_ext.rs
Due: cargo fmt --

remove unused import
  crates/extractor/python/gpt_parser.py
Due: none

Replace if statements with match
  crates/extractor/src/req_parser.rs
Due: cargo fmt --

format
  crates/extractor/storage/docstore.json
  crates/extractor/storage/graph_store.json
  crates/extractor/storage/index_store.json
  crates/extractor/storage/vector_store.json
Due: none

always parse from href instead of inner text
  crates/extractor/src/requirements_ext.rs
Due: cargo fmt --

only parse if there was prereqs or coreqs
  crates/extractor/src/requirements_ext.rs
Due: cargo fmt --

inline pyo3
  crates/extractor/Cargo.toml
Due: none

move stuff to utils
  crates/extractor/src/lib.rs
  crates/extractor/src/requirements_ext.rs
  crates/extractor/src/utils.rs
Due: cargo fmt --

Update brew before installing mongodb in CI
  .github/workflows/ci.yaml
Due: none

Huh
  .github/workflows/ci.yaml
Due: none

Remove update step
  .github/workflows/ci.yaml
Due: none

Fix failing mongodb installation in CI (#348)
  .github/workflows/ci.yaml
Due: none

Update index
  crates/extractor/llm_data/example.txt
  crates/extractor/storage/docstore.json
  crates/extractor/storage/index_store.json
  crates/extractor/storage/vector_store.json
Due: none

move python stuff
  crates/extractor/python/gpt_parser.py
  tools/llm_data/example.txt
  tools/parse_reqs.py
  tools/poetry.lock
  tools/pyproject.toml
  tools/storage/docstore.json
  tools/storage/graph_store.json
  tools/storage/index_store.json
  tools/storage/vector_store.json
Due: none

fix some things
  tools/parse_reqs.py
Due: none

update training data
  tools/llm_data/example.txt
  tools/storage/docstore.json
  tools/storage/graph_store.json
  tools/storage/index_store.json
  tools/storage/vector_store.json
Due: none

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
