Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Use `tolerant` tokenization strategy in search index (#698)
  client/src/lib/searchIndex.ts
Due: prettier --write, tslint

Update rust version to 2024 for all crates
  .lintstagedrc.json
  Cargo.toml
  crates/combine/Cargo.toml
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/Cargo.toml
  crates/model/src/datetime.rs
  crates/model/src/lib.rs
  crates/model/src/review.rs
  src/main.rs
  tools/changelog-generator/Cargo.toml
  tools/changelog-generator/src/main.rs
Due: cargo fmt --

Collapse if let
  crates/db/src/db.rs
Due: cargo fmt --

Update rust version to 2024 for all crates (#699)
  .lintstagedrc.json
  Cargo.toml
  crates/combine/Cargo.toml
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/Cargo.toml
  crates/model/src/datetime.rs
  crates/model/src/lib.rs
  crates/model/src/review.rs
  src/main.rs
  tools/changelog-generator/Cargo.toml
  tools/changelog-generator/src/main.rs
Due: cargo fmt --

Update
  Dockerfile
Due: none

Bump rust docker image version to 1.90 (#700)
  Dockerfile
Due: none

Add client to code coverage report
  .gitignore
  bin/coverage
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier --write, tslint

Add pnpm
  .github/workflows/ci.yaml
Due: none

Install deps
  .github/workflows/ci.yaml
Due: none

Add client to code coverage report (#702)
  .github/workflows/ci.yaml
  .gitignore
  bin/coverage
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier --write, tslint

Remove `axum-server` dependency
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/server.rs
Due: cargo fmt --

Remove `axum-server` dependency (#703)
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/server.rs
Due: cargo fmt --

Update `axum` to 0.8.4
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/server.rs
  src/user.rs
Due: cargo fmt --

Lint
  src/user.rs
Due: cargo fmt --

Update `axum` to 0.8.4 (#704)
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/server.rs
  src/user.rs
Due: cargo fmt --

Update changelog entries
  client/src/assets/changelog.json
Due: none

Format
  client/src/assets/changelog.json
Due: none

Add docs
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/server.rs
Due: cargo fmt --

Use `SocketAddr` for spawning server
  src/main.rs
  src/server.rs
Due: cargo fmt --

Use `SocketAddr` for spawning server (#706)
  src/main.rs
  src/server.rs
Due: cargo fmt --

Update changelog entries (#705)
  client/src/assets/changelog.json
Due: none

Serve public API documentation
  Cargo.lock
  Cargo.toml
  client/src/lib/api.ts
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/Cargo.toml
  crates/model/src/course.rs
  crates/model/src/course_filter.rs
  crates/model/src/datetime.rs
  crates/model/src/instructor.rs
  crates/model/src/lib.rs
  crates/model/src/requirements.rs
  crates/model/src/review.rs
  crates/model/src/schedule.rs
  src/courses.rs
  src/documentation.rs
  src/main.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Move imports
  crates/model/src/datetime.rs
  crates/model/src/lib.rs
Due: cargo fmt --

Tweak
  client/src/lib/api.ts
  src/courses.rs
  src/documentation.rs
  src/main.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Add comments
  src/courses.rs
Due: cargo fmt --

Serve initial public API documentation (#708)
  Cargo.lock
  Cargo.toml
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/Cargo.toml
  crates/model/src/course.rs
  crates/model/src/course_filter.rs
  crates/model/src/datetime.rs
  crates/model/src/instructor.rs
  crates/model/src/lib.rs
  crates/model/src/requirements.rs
  crates/model/src/review.rs
  crates/model/src/schedule.rs
  src/courses.rs
  src/documentation.rs
  src/main.rs
  src/server.rs
Due: cargo fmt --

Add parameter information to course route documentation
  src/courses.rs
Due: cargo fmt --

Yeet
  src/courses.rs
Due: cargo fmt --

Yeet
  src/courses.rs
  src/documentation.rs
Due: cargo fmt --

Add parameter information to course route documentation (#709)
  src/courses.rs
  src/documentation.rs
Due: cargo fmt --

Add correct server path in api documentation
  src/documentation.rs
Due: cargo fmt --

Diff
  src/documentation.rs
Due: cargo fmt --

Add correct server path in api documentation (#710)
  src/documentation.rs
Due: cargo fmt --

Remove em
  crates/model/src/datetime.rs
  crates/model/src/lib.rs
Due: cargo fmt --

Add work
  src/documentation.rs
  src/reviews.rs
Due: cargo fmt --

Remove
  README.md
Due: none

Remove manual replica set initialization step from readme (#711)
  README.md
Due: none

Sort
  src/courses.rs
  src/documentation.rs
Due: cargo fmt --

Remove unnecessary full path qualifiers from datetime module (#712)
  crates/model/src/datetime.rs
  crates/model/src/lib.rs
Due: cargo fmt --

More ting
  src/courses.rs
  src/reviews.rs
Due: cargo fmt --
