Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

add pnpm-lock to prettierignore
  .prettierignore
Due: none

merge conflicts
  Cargo.lock
  client/src/components/Navbar.tsx
  client/src/pages/Home.tsx
  pnpm-lock.yaml
Due: prettier --write, tslint

Change navbar search to flexsearch too
  client/src/components/Navbar.tsx
  client/src/lib/searchIndex.ts
  client/src/pages/Home.tsx
Due: prettier --write, tslint

Lint
  client/src/components/CourseInfo.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/SideNav.tsx
  client/src/pages/About.tsx
Due: prettier --write, tslint

typo
  client/src/lib/searchIndex.ts
Due: prettier --write, tslint

?? revert accidental cargo lock update
  Cargo.lock
Due: none

SINGLETON PATTERN ONLY INDEX ONCE :rocket:
  client/src/components/Navbar.tsx
  client/src/lib/searchIndex.ts
  client/src/pages/Home.tsx
Due: prettier --write, tslint

fix flexsearch import
  client/src/lib/searchIndex.ts
Due: prettier --write, tslint

fix types
  client/src/lib/searchIndex.ts
Due: prettier --write, tslint

more typescript mad
  client/src/lib/searchIndex.ts
Due: prettier --write, tslint

functionality
  client/src/components/SchedulesDisplay.tsx
  client/src/components/VisualSchedule.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

make slightly snappier
  client/src/components/CourseSearchBar.tsx
Due: prettier --write, tslint

better
  client/src/components/CourseSearchBar.tsx
Due: prettier --write, tslint

slight rounding
  client/src/components/CourseSearchBar.tsx
Due: prettier --write, tslint

reduce bundle size by 10mb
  client/src/assets/searchData.json
  client/src/lib/searchIndex.ts
  client/src/model/SearchResults.ts
Due: prettier --write, tslint

format
  client/src/assets/searchData.json
Due: none

Reduce bundle size significantly (#457)
  client/src/assets/searchData.json
  client/src/lib/searchIndex.ts
  client/src/model/SearchResults.ts
Due: prettier --write, tslint

Explore page filters (#453)
  Cargo.lock
  client/src/components/Autocomplete.tsx
  client/src/components/ExploreFilter.tsx
  client/src/pages/Explore.tsx
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/Cargo.toml
  crates/model/src/course.rs
  crates/model/src/course_filter.rs
  crates/model/src/lib.rs
  src/loader.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Reduce client bundle size (#457)
  client/src/assets/searchData.json
  client/src/lib/searchIndex.ts
  client/src/model/SearchResults.ts
Due: prettier --write, tslint

lint
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

Update PrivacyPolicy.tsx
  client/src/pages/PrivacyPolicy.tsx
Due: prettier --write, tslint

lint
  crates/model/src/course.rs
Due: cargo fmt --

Update TermsAndConditions.tsx
  client/src/pages/TermsAndConditions.tsx
Due: prettier --write, tslint

Format
  client/src/pages/TermsAndConditions.tsx
Due: prettier --write, tslint

format
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Use entire db url from the environment
  crates/db/src/db.rs
Due: cargo fmt --

Lint
  crates/db/src/db.rs
Due: cargo fmt --

Use direct connection = true in dev
  crates/db/src/db.rs
Due: cargo fmt --

Use entire db url from the environment (#460)
  crates/db/src/db.rs
Due: cargo fmt --

Add dialog before deleting a subscription
  client/src/components/DeleteButton.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Static lol
  crates/db/src/db.rs
Due: cargo fmt --

srs
  crates/db/src/initializer.rs
Due: cargo fmt --

More fixes
  src/loader.rs
  src/vsb_client.rs
Due: cargo fmt --

Add dialog before deleting a subscription (#461)
  client/src/components/DeleteButton.tsx
  client/src/pages/Profile.tsx
  crates/db/src/db.rs
  crates/db/src/initializer.rs
  src/loader.rs
  src/vsb_client.rs
Due: cargo fmt --, prettier --write, tslint

Mobile styles for new schedule display
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Remove commented component
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Remove console.log
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint
