Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

Consolidate individual course request
  client/src/model/GetCoursePayload.ts
  client/src/pages/CoursePage.tsx
  src/courses.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

small fixes
  client/src/components/ExploreFilter.tsx
  client/src/components/ResetButton.tsx
Due: prettier --write, tslint

Remove TODO
  client/src/components/BoxToggle.tsx
Due: prettier --write, tslint

Put w-1/2 back
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Don't change text color on hover in combobox options
  client/src/components/Autocomplete.tsx
  client/src/components/MultiSelect.tsx
Due: prettier --write, tslint

Reduce left margin
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Remove console.log
  client/src/components/EditReviewForm.tsx
Due: prettier --write, tslint

Remove TODO
  client/src/components/ExploreFilter.tsx
Due: prettier --write, tslint

Simplify condition
  client/src/components/JumpToTopButton.tsx
Due: prettier --write, tslint

Change interface to type
  client/src/components/Alert.tsx
Due: prettier --write, tslint

Consistent format for props
  client/src/components/CourseGraph.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseRequirements.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/RatingInfo.tsx
  client/src/components/RatingPieChart.tsx
  client/src/components/ResetButton.tsx
  client/src/components/ReviewFilter.tsx
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

fmt
  client/src/components/EditReviewForm.tsx
  client/src/components/JumpToTopButton.tsx
Due: prettier --write, tslint

Add tailwind eslint plugin
  .eslintrc.json
  client/src/components/AddReviewForm.tsx
  client/src/components/Autocomplete.tsx
  client/src/components/BoxToggle.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/DeleteButton.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/Layout.tsx
  client/src/components/MultiSelect.tsx
  client/src/components/ProfileDropdown.tsx
  client/src/components/RatingPieChart.tsx
  client/src/components/ReviewForm.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/components/SideNav.tsx
  client/src/components/Tooltip.tsx
  client/src/pages/About.tsx
  client/src/pages/Instructor.tsx
  package-lock.json
  package.json
Due: prettier --write, tslint

tests
  Cargo.lock
  crates/extractor/Cargo.toml
  crates/extractor/src/lib.rs
  crates/extractor/src/req_parser.rs
Due: cargo fmt --

Apply present to readme
  README.md
Due: none

Apply miscellaneous frontend refactors (#296)
  .eslintrc.json
  README.md
  client/src/components/AddReviewForm.tsx
  client/src/components/Alert.tsx
  client/src/components/Autocomplete.tsx
  client/src/components/BoxToggle.tsx
  client/src/components/CourseCard.tsx
  client/src/components/CourseGraph.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseRequirements.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/CourseTerms.tsx
  client/src/components/DeleteButton.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/ExploreFilter.tsx
  client/src/components/JumpToTopButton.tsx
  client/src/components/Layout.tsx
  client/src/components/MultiSelect.tsx
  client/src/components/NavItem.tsx
  client/src/components/Navbar.tsx
  client/src/components/NotFound.tsx
  client/src/components/ProfileDropdown.tsx
  client/src/components/RatingInfo.tsx
  client/src/components/RatingPieChart.tsx
  client/src/components/ResetButton.tsx
  client/src/components/ReviewFilter.tsx
  client/src/components/ReviewForm.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/components/SideNav.tsx
  client/src/components/Tooltip.tsx
  client/src/lib/utils.ts
  client/src/pages/About.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/Explore.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Loading.tsx
  client/src/pages/Profile.tsx
  package-lock.json
  package.json
Due: prettier --write, tslint

Blend course search results with search bar
  client/src/components/CourseSearchBar.tsx
Due: prettier --write, tslint

Blend search results with search bar (#340)
  client/src/components/CourseSearchBar.tsx
Due: prettier --write, tslint

Add course page screenshot to readme
  README.md
Due: none

Add course page screenshot to readme (#341)
  README.md
Due: none

improve alert styling
  client/src/components/Alert.tsx
  client/src/pages/Home.tsx
Due: prettier --write, tslint

revert testing code in Home
  client/src/pages/Home.tsx
Due: prettier --write, tslint

Add query param
  client/src/model/GetCourseWithReviewsPayload.ts
  client/src/pages/CoursePage.tsx
  src/courses.rs
  src/main.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

fix classname
  client/src/components/Alert.tsx
Due: prettier --write, tslint

change background to gray
  client/src/components/Alert.tsx
Due: prettier --write, tslint

add coloring for light mode
  client/src/components/Alert.tsx
Due: prettier --write, tslint

add buildign codes asset json
  client/src/assets/buildingCodes.json
Due: none

gpt req parsing
  Cargo.lock
  crates/extractor/Cargo.toml
  crates/extractor/llm_data/example.txt
  crates/extractor/python/gpt_parser.py
  crates/extractor/src/course_page_ext.rs
  crates/extractor/src/lib.rs
  crates/extractor/src/req_parser.rs
  crates/extractor/src/requirements_ext.rs
  crates/extractor/storage/docstore.json
  crates/extractor/storage/graph_store.json
  crates/extractor/storage/index_store.json
  crates/extractor/storage/vector_store.json
  crates/model/src/lib.rs
  crates/model/src/requirements.rs
  poetry.lock
  pyproject.toml
  src/loader.rs
Due: cargo fmt --

Format
  crates/extractor/src/lib.rs
  crates/extractor/storage/docstore.json
  crates/extractor/storage/graph_store.json
  crates/extractor/storage/index_store.json
  crates/extractor/storage/vector_store.json
  pyproject.toml
Due: cargo fmt --

Consolidate individual course request (#337)
  client/src/model/GetCourseWithReviewsPayload.ts
  client/src/pages/CoursePage.tsx
  src/courses.rs
  src/main.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

improve color in light and dark modes
  client/src/components/Alert.tsx
Due: prettier --write, tslint

add hover on classrooms to display the full building name
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Use tooltip component (for some reason putting classname in Transition works, but not when it's in the inner div)
  client/src/components/SchedulesDisplay.tsx
  client/src/components/Tooltip.tsx
Due: prettier --write, tslint

fix overflowing open schedule button
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

fix bad tooltip usage
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Rebase with master
  client/src/components/CourseInfo.tsx
  client/src/components/RatingHistogram.tsx
  client/src/components/RatingInfo.tsx
  client/src/components/RatingPieChart.tsx
  client/src/components/Toggle.tsx
  client/src/lib/utils.ts
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

rebasing
  client/src/components/CourseInfo.tsx
  client/src/components/RatingHistogram.tsx
  client/src/components/RatingInfo.tsx
  client/src/components/RatingPieChart.tsx
  client/src/components/Toggle.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

fmt
  client/src/components/CourseInfo.tsx
  client/src/components/RatingInfo.tsx
Due: prettier --write, tslint

improve responsiveness
  client/src/components/CourseInfo.tsx
Due: prettier --write, tslint

improve margin
  client/src/components/RatingHistogram.tsx
  client/src/components/RatingPieChart.tsx
Due: prettier --write, tslint

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
