Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Less red
  client/src/components/Autocomplete.tsx
  client/src/components/MultiSelect.tsx
Due: prettier --write, tslint

Show search bar on smaller screens too
  client/src/components/Navbar.tsx
Due: prettier --write, tslint

Remove a space
  client/src/components/NotFound.tsx
Due: prettier --write, tslint

Extract into component
  client/src/components/ReviewFilter.tsx
Due: prettier --write, tslint

Cleanup + fix overflow issue
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Black overlay + lower opacity
  client/src/components/SideNav.tsx
Due: prettier --write, tslint

Refactor about
  client/src/pages/About.tsx
Due: prettier --write, tslint

Fix flash
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Rename type
  client/src/pages/About.tsx
Due: prettier --write, tslint

Replace util with uniqBy
  client/src/components/SchedulesDisplay.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

Bind server to 0.0.0.0
  src/server.rs
Due: cargo fmt --

More route changes
  client/src/components/Navbar.tsx
  client/src/components/ProfileDropdown.tsx
  src/auth.rs
Due: cargo fmt --, prettier --write, tslint

Build indices before seed
  crates/db/src/initializer.rs
  justfile
Due: cargo fmt --

Add render.yaml file
  render.yaml
Due: none

Remove spacing
  render.yaml
Due: none

Remove from service
  render.yaml
Due: none

Remove infra
  render.yaml
Due: none

Add rust log
  .env.dev.example
  .env.prod.example
Due: none

Remove import
  src/server.rs
Due: cargo fmt --

Refactor loading page
  client/src/pages/CoursePage.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Loading.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Request access token with transport layer security
  Cargo.lock
  Cargo.toml
  src/auth.rs
  src/state.rs
Due: cargo fmt --

Remove scope
  src/auth.rs
  src/main.rs
Due: cargo fmt --

Request access token with transport layer security (#299)
  Cargo.lock
  Cargo.toml
  src/auth.rs
  src/main.rs
  src/state.rs
Due: cargo fmt --

Remove rmp-scraper from version control
  tools/rmp-scraper/.style.yapf
  tools/rmp-scraper/Pipfile
  tools/rmp-scraper/Pipfile.lock
  tools/rmp-scraper/README.md
  tools/rmp-scraper/justfile
  tools/rmp-scraper/main.py
Due: none

Remove rmp-scraper from version control (#300)
  tools/rmp-scraper/.style.yapf
  tools/rmp-scraper/Pipfile
  tools/rmp-scraper/Pipfile.lock
  tools/rmp-scraper/README.md
  tools/rmp-scraper/justfile
  tools/rmp-scraper/main.py
Due: none

Add prior art section to readme
  README.md
Due: none

Add prior art section to readme (#305)
  README.md
Due: none

Remove horizontal rules under header text
  client/src/pages/About.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Remove horizontal rules under header text (#309)
  client/src/pages/About.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Maintain a consistent course page layout
  client/src/components/ReviewFilter.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Maintain a consistent course page layout (#311)
  client/src/components/ReviewFilter.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Add reset button to review filter box
  client/src/components/ExploreFilter.tsx
  client/src/components/ResetButton.tsx
  client/src/components/ReviewFilter.tsx
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Add reset button to review filter box (#313)
  client/src/components/ExploreFilter.tsx
  client/src/components/ResetButton.tsx
  client/src/components/ReviewFilter.tsx
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Add icons to explore term filter buttons
  client/src/components/CourseTerms.tsx
  client/src/components/ExploreFilter.tsx
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Add loading indicator to instructor page
  client/src/model/GetInstructorPayload.ts
  client/src/pages/Instructor.tsx
  src/instructors.rs
  src/main.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Make the response more sane
  src/instructors.rs
  src/server.rs
Due: cargo fmt --

Update the type
  client/src/model/GetInstructorPayload.ts
Due: prettier --write, tslint

Add loading indicator to instructor page (#318)
  client/src/model/GetInstructorPayload.ts
  client/src/pages/Instructor.tsx
  src/instructors.rs
  src/main.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint
