Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

Add layout to course page spinner
  client/src/components/CourseInfo.tsx
  client/src/components/RatingInfo.tsx
  client/src/components/ReviewFilter.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

Filter out reviews array after deletion
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Add layout to course page spinner (#320)
  client/src/components/CourseInfo.tsx
  client/src/components/RatingInfo.tsx
  client/src/components/ReviewFilter.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

Filter out reviews array after deletion (#321)
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Remove interactions for deleted review
  crates/db/src/db.rs
  src/reviews.rs
Due: cargo fmt --

Add test
  src/server.rs
Due: cargo fmt --

Remove interactions for deleted review (#325)
  crates/db/src/db.rs
  src/reviews.rs
  src/server.rs
Due: cargo fmt --

Decrease index header text size on small screens
  client/src/pages/Home.tsx
Due: prettier --write, tslint

Decrease index header text size on small screens (#327)
  client/src/pages/Home.tsx
Due: prettier --write, tslint

Update dependencies
  Cargo.lock
  Cargo.toml
  crates/db/Cargo.toml
  crates/db/src/str_ext.rs
  crates/extractor/Cargo.toml
  crates/model/Cargo.toml
  package-lock.json
Due: cargo fmt --

Update dependencies (#328)
  Cargo.lock
  Cargo.toml
  crates/db/Cargo.toml
  crates/db/src/str_ext.rs
  crates/extractor/Cargo.toml
  crates/model/Cargo.toml
  package-lock.json
Due: cargo fmt --

Add course graph
  client/src/pages/CoursePage.tsx
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, tslint

Ignore type defs for graph + fix labels
  .eslintrc.json
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Tweak styling
  client/src/components/BoxToggle.tsx
  client/src/components/ExploreFilter.tsx
Due: prettier --write, tslint

Add icons to explore term filter buttons (#317)
  client/src/components/BoxToggle.tsx
  client/src/components/CourseTerms.tsx
  client/src/components/ExploreFilter.tsx
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Minor cleanup
  client/src/components/Alert.tsx
  client/src/components/CourseGraph.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Handle double click as well
  client/src/components/CourseGraph.tsx
Due: prettier --write, tslint

Use typescript wrapper
  client/src/components/CourseGraph.tsx
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, tslint

Tweak colors
  client/src/components/CourseGraph.tsx
Due: prettier --write, tslint

Remove ban ts comment
  .eslintrc.json
Due: none

Postprocess for leading to courses
  client/src/model/Course.ts
  crates/model/src/course.rs
  justfile
  src/loader.rs
Due: cargo fmt --, prettier --write, tslint

Tweak
  justfile
Due: none

Don't make leading courses optional
  client/src/model/Course.ts
  crates/model/src/course.rs
  src/loader.rs
Due: cargo fmt --, prettier --write, tslint

Tweak
  README.md
  crates/db/src/initializer.rs
  src/loader.rs
Due: cargo fmt --

Add leading courses to graph
  client/src/components/CourseGraph.tsx
Due: prettier --write, tslint

Fix test seeds
  crates/db/test-seeds/after_update.json
  crates/db/test-seeds/before_update.json
  crates/db/test-seeds/mini.json
  crates/db/test-seeds/mix.json
  crates/db/test-seeds/search.json
  crates/db/test-seeds/update.json
  src/server.rs
Due: cargo fmt --

Improve naming
  client/src/components/CourseGraph.tsx
Due: prettier --write, tslint

Fix tests
  crates/extractor/src/lib.rs
Due: cargo fmt --

Remove dbg
  src/loader.rs
Due: cargo fmt --

Another fix
  crates/extractor/src/lib.rs
Due: cargo fmt --

Update load command example in readme
  README.md
Due: none

Update load command example in readme (#335)
  README.md
Due: none

Remove second copy of dialogs
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Increase widht
  client/src/components/AddReviewForm.tsx
  client/src/components/EditReviewForm.tsx
Due: prettier --write, tslint

Fix bug where review form closes upon clicking on it
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Fix bug where review form closes upon clicking on it (#336)
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
