Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

Update readme display image (#487)
  README.md
Due: none

Move notification pane more to the right (#486)
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

add endpoints to get all review interactions from a course
  crates/db/src/db.rs
  crates/db/src/lib.rs
  src/interactions.rs
  src/server.rs
Due: cargo fmt --

Make payload structure for interactions endpoint
  src/interactions.rs
Due: cargo fmt --

remove comments
  crates/db/src/db.rs
Due: cargo fmt --

Change endpoint return from map to vec
  crates/db/src/db.rs
  crates/db/src/lib.rs
  src/interactions.rs
Due: cargo fmt --

add tests
  src/server.rs
Due: cargo fmt --

only query interactions once in the frontend
  client/src/components/CourseReview.tsx
  client/src/lib/repo.ts
  client/src/model/GetCourseReviewsInteractionsPayload.ts
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

optimize interactions fetching logic a bit
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

fix small flaw
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

fix up some types
  client/src/components/CourseReview.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

make endpoint to retrieve interactions based on the referrer and the course
  crates/db/src/db.rs
  src/interactions.rs
  src/server.rs
Due: cargo fmt --

modify frontend
  client/src/components/CourseReview.tsx
  client/src/lib/repo.ts
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

fix tests
  src/server.rs
Due: cargo fmt --

address code comments
  client/src/lib/repo.ts
  client/src/pages/CoursePage.tsx
  crates/db/src/db.rs
Due: cargo fmt --, prettier --write, tslint

Batch all review interactions from a single course into a single request (#488)
  client/src/components/CourseReview.tsx
  client/src/lib/repo.ts
  client/src/model/GetCourseReviewsInteractionsPayload.ts
  client/src/pages/CoursePage.tsx
  crates/db/src/db.rs
  src/interactions.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Capitalize log message
  src/interactions.rs
Due: cargo fmt --

Conditionally rate limit app
  justfile
  src/loader.rs
  src/server.rs
  src/state.rs
Due: cargo fmt --

Move governor config
  src/server.rs
Due: cargo fmt --

Refactor
  src/server.rs
Due: cargo fmt --

Add rate limiting (#467)
  Cargo.lock
  Cargo.toml
  justfile
  src/interactions.rs
  src/loader.rs
  src/main.rs
  src/server.rs
  src/state.rs
Due: cargo fmt --

Remove horizontal margin from explore filter
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Remove horizontal margins for subscriptions
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Remove horizontal margins from explore and profile pages (#493)
  client/src/pages/Explore.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Remember selected pane on profile page
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Remember selected pane on profile page (#494)
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

fix reset button not resetting the sort order
  client/src/components/ExploreFilter.tsx
Due: prettier --write, tslint

Fix explore reset button not resetting the sort order (#497)
  client/src/components/ExploreFilter.tsx
Due: prettier --write, tslint

Remove custom error structs from database crate
  crates/db/src/db.rs
  crates/db/src/lib.rs
Due: cargo fmt --

Format
  crates/db/src/db.rs
Due: cargo fmt --

Remove unused dep
  crates/db/src/lib.rs
Due: cargo fmt --

Remove useless vec
  src/server.rs
Due: cargo fmt --

Remove custom error structs from database crate (#498)
  crates/db/src/db.rs
  crates/db/src/lib.rs
  src/server.rs
Due: cargo fmt --

add disclaimer
  client/src/pages/About.tsx
Due: prettier --write, tslint

move <br> out
  client/src/pages/About.tsx
Due: prettier --write, tslint

Add disclamer to separate from Mcgill University (#499)
  client/src/pages/About.tsx
Due: prettier --write, tslint

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
