Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Add this
  client/src/assets/final-exams.json
  client/src/components/final-exam-row.tsx
  client/src/lib/types.ts
  client/src/pages/course-page.tsx
Due: prettier --write, tslint

Remove pdf
  tools/final-exam-schedule-parser/december_2025_final_scheduleo08b.pdf
Due: none

Lint
  tools/final-exam-schedule-parser/src/main.rs
Due: cargo fmt --

Tweak
  client/src/components/final-exam-row.tsx
Due: prettier --write, tslint

Remove json
  tools/final-exam-schedule-parser/foo.json
Due: none

Tweak
  Cargo.lock
  tools/final-exam-schedule-parser/Cargo.toml
  tools/final-exam-schedule-parser/src/main.rs
Due: cargo fmt --

Group + url
  client/src/assets/final-exams.json
  client/src/components/final-exam-row.tsx
  tools/final-exam-schedule-parser/src/main.rs
Due: cargo fmt --, prettier --write, tslint

Parse and show final exam schedules on course page (#739)
  Cargo.lock
  Cargo.toml
  client/src/assets/final-exams.json
  client/src/components/final-exam-row.tsx
  client/src/lib/types.ts
  client/src/pages/course-page.tsx
  tools/final-exam-schedule-parser/Cargo.toml
  tools/final-exam-schedule-parser/src/main.rs
Due: cargo fmt --, prettier --write, tslint

Update
  client/src/assets/search-data.json
Due: none

Format
  client/src/assets/search-data.json
Due: none

Remove course id and timestamp from review urls
  client/src/components/course-review.test.tsx
  client/src/components/course-review.tsx
  client/src/lib/utils.ts
  client/src/pages/course-page.test.tsx
  client/src/pages/course-page.tsx
Due: prettier --write, tslint

Remove course id and timestamp from review urls (#740)
  client/src/components/course-review.test.tsx
  client/src/components/course-review.tsx
  client/src/lib/utils.ts
  client/src/pages/course-page.test.tsx
  client/src/pages/course-page.tsx
Due: prettier --write, tslint

Add badges to readme
  README.md
Due: none

Tweak discord badge
  README.md
Due: none

Urls
  README.md
Due: none

Add badges to readme (#741)
  README.md
Due: none

Add it
  client/src/components/final-exam-row.tsx
Due: prettier --write, tslint

Add downloadable calendar button to final exam rows (#743)
  client/src/components/final-exam-row.tsx
Due: prettier --write, tslint

Add it
  client/src/components/add-to-calendar-button.tsx
  client/src/components/final-exam-row.tsx
  client/src/components/schedules-display.tsx
  client/src/lib/calendar.ts
Due: prettier --write, tslint

Tweak
  client/src/components/add-to-calendar-button.tsx
  client/src/components/final-exam-row.tsx
  client/src/components/schedules-display.tsx
Due: prettier --write, tslint

Spacing
  client/src/components/schedules-display.tsx
Due: prettier --write, tslint

Fix spacing
  client/src/components/schedules-display.tsx
Due: prettier --write, tslint

Do this
  client/src/components/schedules-display.tsx
Due: prettier --write, tslint

Add downloadable calendar button to schedule rows (#744)
  client/src/components/add-to-calendar-button.tsx
  client/src/components/final-exam-row.tsx
  client/src/components/schedules-display.tsx
  client/src/lib/calendar.ts
Due: prettier --write, tslint

fix schedules and final exam ui on various screen sizes
  client/src/components/final-exam-row.tsx
  client/src/components/schedules-display.tsx
Due: prettier --write, tslint

Fix schedules and final exam UI on various screen sizes (#745)
  client/src/components/final-exam-row.tsx
  client/src/components/schedules-display.tsx
Due: prettier --write, tslint

Update
  README.md
  assets/readme.png
Due: none

Update CI badge pointer in readme (#746)
  README.md
  assets/readme.png
Due: none

Update coverage badge url in readme
  README.md
Due: none

Tweak
  README.md
Due: none

Link
  README.md
Due: none

Update coverage badge url in readme (#747)
  README.md
Due: none

Move `stripColonPrefix` function into `utils.ts`
  client/src/components/course-requirements.tsx
  client/src/lib/utils.test.ts
  client/src/lib/utils.ts
Due: prettier --write, tslint

Move `stripColonPrefix` function into `utils.ts` (#749)
  client/src/components/course-requirements.tsx
  client/src/lib/utils.test.ts
  client/src/lib/utils.ts
Due: prettier --write, tslint

Add course requirements test suite
  client/src/components/course-requirements.test.tsx
Due: prettier --write, tslint

Refactor out shared router wrapper for client side tests
  client/src/components/course-card.test.tsx
  client/src/components/course-requirements.test.tsx
  client/src/components/course-review.test.tsx
  client/src/pages/reviews.test.tsx
  client/src/testing/router-wrapper.tsx
Due: prettier --write, tslint
