Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

remove redundant and incorrect sorting
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

add margin between courses
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

standardize course code with review page
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

use gap instead of margin
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Sort user reviews by recency on profile page (#539)
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Add loading indicator to profile page
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Add loading indicator to profile page (#540)
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Add initial typeshare generated types
  Cargo.lock
  Cargo.toml
  client/src/lib/types.ts
  crates/db/src/db.rs
  crates/model/Cargo.toml
  crates/model/src/course.rs
  crates/model/src/instructor.rs
  crates/model/src/lib.rs
  crates/model/src/notification.rs
  crates/model/src/requirements.rs
  crates/model/src/review.rs
  crates/model/src/schedule.rs
  crates/model/src/search_results.rs
  crates/model/src/subscription.rs
  justfile
  src/courses.rs
  src/instructors.rs
  src/main.rs
  src/reviews.rs
  src/user.rs
Due: cargo fmt --, prettier --write, tslint

displaying locations of all buildings for a course
  client/src/assets/buildingCoordinates.json
  client/src/components/BuildingLocation.tsx
Due: prettier --write, tslint

Add deployment section to readme
  README.md
Due: none

Add link
  README.md
Due: none

Add deployment section to readme (#542)
  README.md
Due: none

display buildings for the selected term
  client/src/components/BuildingLocation.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Improve review page load time
  crates/db/src/db.rs
Due: cargo fmt --

Improve review page load time (#543)
  crates/db/src/db.rs
Due: cargo fmt --

Add tests for new database methods
  crates/db/src/db.rs
Due: cargo fmt --

Add tests for new database methods (#544)
  crates/db/src/db.rs
Due: cargo fmt --

applied patch
  client/src/components/BuildingLocation.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

changed defaultCenter
  client/src/components/BuildingLocation.tsx
Due: prettier --write, tslint

Update version
  .github/workflows/ci.yaml
Due: none

add course averages
  client/src/assets/courseAveragesData.json
  client/src/components/CourseAverages.tsx
  client/src/components/CourseReview.tsx
  client/src/lib/utils.ts
  client/src/model/TermAverage.ts
  client/src/pages/CoursePage.tsx
  tools/course-avg-parser/.gitignore
  tools/course-avg-parser/main.py
  tools/course-avg-parser/poetry.lock
  tools/course-avg-parser/pyproject.toml
Due: prettier --write, tslint

add docs
  tools/course-avg-parser/main.py
Due: none

add docs
  tools/course-avg-parser/README.md
Due: none

fix json typing
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

stricter check on json data
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Move functions
  crates/model/src/course.rs
Due: cargo fmt --

Downgrade flexsearch
  package.json
  pnpm-lock.yaml
Due: none

Reorder terms
  client/src/lib/utils.ts
Due: prettier --write, tslint

improve light mode color
  client/src/components/CourseAverages.tsx
Due: prettier --write, tslint

Allow unused
  crates/db/src/combine.rs
Due: cargo fmt --

Yeet
  Cargo.lock
  crates/combine/Cargo.toml
Due: none

Yeet it for now
  crates/db/src/combine.rs
Due: cargo fmt --

Uhhhhhhhhhhh ye
  crates/db/src/combine.rs
  crates/db/src/lib.rs
Due: cargo fmt --

Rename types -> model
  bin/typeshare
  client/src/lib/model.ts
  client/src/lib/utils.ts
Due: prettier --write, tslint

Renames
  client/src/components/AddReviewForm.tsx
  client/src/components/Autocomplete.tsx
  client/src/components/CourseCard.tsx
  client/src/components/CourseGraph.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseRequirements.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/CourseTerms.tsx
  client/src/components/DarkModeToggle.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/Histogram.tsx
  client/src/components/MultiSelect.tsx
  client/src/components/Navbar.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/components/ProfileDropdown.tsx
  client/src/components/ResetButton.tsx
  client/src/components/ReviewFilter.tsx
  client/src/components/ReviewForm.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/components/Spinner.tsx
  client/src/components/VisualSchedule.tsx
Due: prettier --write, tslint

Use rust slim-buster docker image in production
  Dockerfile
Due: none

Use rust slim-buster docker image in production (#548)
  Dockerfile
Due: none

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
