Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Add tooltips to course schedule classrooms (#344)
  client/src/assets/buildingCodes.json
  client/src/components/SchedulesDisplay.tsx
  client/src/components/Tooltip.tsx
Due: prettier --write, tslint

Show prereq/coreq text on course pages
  client/src/components/CourseRequirements.tsx
  client/src/model/Course.ts
  client/src/model/Requirements.ts
  client/src/pages/CoursePage.tsx
  crates/db/src/db.rs
  crates/model/src/requirements.rs
Due: cargo fmt --, prettier --write, tslint

Transform html text into JSX instead
  client/src/components/CourseRequirements.tsx
Due: prettier --write, tslint

Write to failed parse attempts to a file and skip on next run
  tools/req-parser/main.py
Due: none

Add space in course codes and lowercase urls
  client/src/components/CourseCard.tsx
  client/src/components/CourseGraph.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseRequirements.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/lib/utils.ts
  client/src/pages/CoursePage.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Change course graph style and add spaces in course code names
  client/src/components/CourseGraph.tsx
Due: prettier --write, tslint

Group requirements in course graph
  client/src/components/CourseGraph.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Fix issue where page would load infinitely if course endpoint returned null
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Styles for course graph
  client/src/components/CourseGraph.tsx
Due: prettier --write, tslint

fix up colors
  client/src/components/CourseGraph.tsx
Due: prettier --write, tslint

remove console.log
  client/src/components/CourseGraph.tsx
Due: prettier --write, tslint

Add unique key prop to requirement elements
  client/src/components/CourseRequirements.tsx
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Move functions into utils.ts
  client/src/components/CourseRequirements.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

Use our own capitalize function because lodash is so shit
  client/src/lib/utils.ts
Due: prettier --write, tslint

Actually do it
  client/src/components/CourseRequirements.tsx
Due: prettier --write, tslint

Make it so you can't click on the operators
  client/src/components/CourseGraph.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

Add tests for `utils.rs` in extractor
  crates/extractor/src/utils.rs
Due: cargo fmt --

Add verification for azure
  client/public/.well-known/microsoft-identity-association.json
Due: none

Document running the req parser on a file
  README.md
Due: none

Remove $$$$$$$$$$$
  README.md
Due: none

Format
  README.md
Due: none

Add space to course search bar
  client/src/components/CourseGraph.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

Add verification for azure (#350)
  client/public/.well-known/microsoft-identity-association.json
Due: none

Remove extension traits in extractor
  crates/extractor/src/course_listing_ext.rs
  crates/extractor/src/course_page_ext.rs
  crates/extractor/src/element.rs
  crates/extractor/src/lib.rs
  crates/extractor/src/requirements_ext.rs
  crates/extractor/src/schedule_ext.rs
Due: cargo fmt --

Tweak html
  crates/extractor/src/utils.rs
Due: cargo fmt --

Yeet
  crates/extractor/src/utils.rs
Due: cargo fmt --

Remove extension traits in extractor (#351)
  crates/extractor/src/course_listing_ext.rs
  crates/extractor/src/course_page_ext.rs
  crates/extractor/src/element.rs
  crates/extractor/src/lib.rs
  crates/extractor/src/requirements_ext.rs
  crates/extractor/src/schedule_ext.rs
  crates/extractor/src/utils.rs
Due: cargo fmt --

Parse html document from requirement text after prefix
  client/src/components/CourseRequirements.tsx
Due: prettier --write, tslint
