Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

allow empty commits in husky precommit
  .husky/pre-commit
Due: none

fix test
  client/src/lib/utils.tsx
Due: prettier --write, tslint

remove outdated comment
  crates/scraper/src/catalogue.rs
Due: cargo fmt --

fmt
  crates/extractor/src/lib.rs
  src/main.rs
Due: cargo fmt --

fix test
  crates/scraper/src/retry.rs
Due: cargo fmt --

nvm
  .husky/pre-commit
Due: none

Reset justfile
  justfile
Due: none

Remove `seed` subcommand from dockerfile
  Dockerfile
Due: none

fix query underlining for course descriptions
  client/src/components/CourseCard.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/Highlight.tsx
  client/src/lib/dom-utils.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

whoops
  client/src/components/Highlight.tsx
  client/src/lib/dom-utils.tsx
Due: prettier --write, tslint

Fix recipe
  justfile
Due: none

fixup justfile
  justfile
Due: none

Migrate to use `1.87-slim-bullseye` image in docker
  Dockerfile
Due: none

Migrate to use `1.87-slim-bullseye` rust image in docker (#655)
  Dockerfile
Due: none

Update backend dependencies
  Cargo.lock
  Cargo.toml
  crates/db/Cargo.toml
  crates/extractor/Cargo.toml
  crates/model/Cargo.toml
  tools/changelog-generator/Cargo.toml
Due: none

Update backend dependencies (#656)
  Cargo.lock
  Cargo.toml
  crates/db/Cargo.toml
  crates/extractor/Cargo.toml
  crates/model/Cargo.toml
  tools/changelog-generator/Cargo.toml
Due: none

Switch to `bullseye-slim` debian image in docker
  Dockerfile
Due: none

Switch to `bullseye-slim` debian image in docker (#657)
  Dockerfile
Due: none

Add fall 2024 course average data
  client/src/assets/courseAveragesData.json
Due: none

Add fall 2024 course average data (#658)
  client/src/assets/courseAveragesData.json
Due: none

Encode intructor URL
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

display credits in course info
  client/src/components/CourseInfo.tsx
Due: prettier --write, tslint

Display credits in course info (#660)
  client/src/components/CourseInfo.tsx
Due: prettier --write, tslint

fix cookie arg
  justfile
Due: none

Fix instructor external url searching for encoded code when a French accent is in the name (#659)
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

Move scraper and extraction implementation into `tools/scraper`
  Cargo.lock
  Cargo.toml
  crates/extractor/Cargo.toml
  crates/extractor/src/courses.rs
  crates/extractor/src/utils.rs
  crates/extractor/src/vsb_extractor.rs
  crates/extractor/test-samples/ecalendar_course_listings_2009_2010.html
  crates/extractor/test-samples/ecalendar_course_listings_2022_2023.html
  crates/extractor/test-samples/ecalendar_course_page_2009_2010.html
  crates/extractor/test-samples/ecalendar_course_page_2022_2023.html
  crates/extractor/test-samples/ecalendar_course_page_with_amp.html
  tools/scraper/Cargo.toml
  tools/scraper/src/course_extractor.rs
  tools/scraper/src/loader.rs
  tools/scraper/src/main.rs
  tools/scraper/src/retry.rs
  tools/scraper/src/select.rs
  tools/scraper/src/utils.rs
  tools/scraper/src/vsb_client.rs
  tools/scraper/src/vsb_extractor.rs
  tools/scraper/test-samples/catalog_all_courses.html
  tools/scraper/test-samples/catalog_course_listings_2025_2026.html
  tools/scraper/test-samples/catalog_course_page_2025_2026.html
  tools/scraper/test-samples/catalog_course_page_2025_2026_with_terms.html
  tools/scraper/test-samples/vsb_course_schedules_202509.xml
Due: cargo fmt --

More tests
  tools/scraper/src/utils.rs
Due: cargo fmt --

Fix tests + impl
  tools/scraper/src/utils.rs
Due: cargo fmt --

Move scraping and extraction implementation into `tools/scraper` (#662)
  Cargo.lock
  Cargo.toml
  crates/extractor/Cargo.toml
  crates/extractor/src/courses.rs
  crates/extractor/src/utils.rs
  crates/extractor/src/vsb_extractor.rs
  crates/extractor/test-samples/ecalendar_course_listings_2009_2010.html
  crates/extractor/test-samples/ecalendar_course_listings_2022_2023.html
  crates/extractor/test-samples/ecalendar_course_page_2009_2010.html
  crates/extractor/test-samples/ecalendar_course_page_2022_2023.html
  crates/extractor/test-samples/ecalendar_course_page_with_amp.html
  tools/scraper/Cargo.toml
  tools/scraper/src/course_extractor.rs
  tools/scraper/src/loader.rs
  tools/scraper/src/main.rs
  tools/scraper/src/retry.rs
  tools/scraper/src/select.rs
  tools/scraper/src/utils.rs
  tools/scraper/src/vsb_client.rs
  tools/scraper/src/vsb_extractor.rs
  tools/scraper/test-samples/catalog_all_courses.html
  tools/scraper/test-samples/catalog_course_listings_2025_2026.html
  tools/scraper/test-samples/catalog_course_page_2025_2026.html
  tools/scraper/test-samples/catalog_course_page_2025_2026_with_terms.html
  tools/scraper/test-samples/vsb_course_schedules_202509.xml
Due: cargo fmt --

Update display image URLs on about page
  client/src/pages/About.tsx
Due: prettier --write, tslint

Update display image URLs on about page (#663)
  client/src/pages/About.tsx
Due: prettier --write, tslint

Logo -> Assets
  README.md
  assets/logo-7A-48x48-01.jpg
  assets/logo-7A-48x48-01.svg
  assets/logo-7A-60x60-01.jpg
  assets/logo-7A-60x60-01.png
  assets/logo-7A-60x60-01.svg
  assets/logo-7B-48x48-01.jpg
  assets/logo-7B-48x48-01.svg
  assets/logo-7B-60x60-01.jpg
  assets/logo-7B-60x60-01.png
  assets/logo-7B-60x60-01.svg
Due: none

Switch it out
  README.md
Due: none

Focus on fall schedules
  README.md
Due: none

Use new logo in readme demo image
  README.md
  assets/logo-7A-48x48-01.jpg
  assets/logo-7A-48x48-01.svg
  assets/logo-7A-60x60-01.jpg
  assets/logo-7A-60x60-01.png
  assets/logo-7A-60x60-01.svg
  assets/logo-7B-48x48-01.jpg
  assets/logo-7B-48x48-01.svg
  assets/logo-7B-60x60-01.jpg
  assets/logo-7B-60x60-01.png
  assets/logo-7B-60x60-01.svg
Due: none
