Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

fix seeding ordering
  crates/db/src/db.rs
Due: cargo fmt --

Revert test data
  crates/db/test-seeds/after_update.json
Due: none

Only seed latest courses in prod
  Dockerfile
  crates/db/src/initializer.rs
  crates/db/src/seed.rs
  crates/model/src/initialize_options.rs
  src/server.rs
Due: cargo fmt --

Remove to_vec instances
  crates/db/src/initializer.rs
Due: cargo fmt --

Tweak
  crates/db/src/initializer.rs
Due: cargo fmt --

Add discord link to contacts section (#519)
  client/src/pages/About.tsx
  client/src/pages/PrivacyPolicy.tsx
  client/src/pages/TermsAndConditions.tsx
Due: prettier --write, tslint

Add a simple meta description tag
  client/index.html
Due: none

Add initial reviews page
  client/src/App.tsx
  client/src/components/Footer.tsx
  client/src/lib/repo.ts
  client/src/pages/Reviews.tsx
  pnpm-lock.yaml
Due: prettier --write, tslint

Simplify latest course initialization
  crates/db/src/initializer.rs
Due: cargo fmt --

format
  client/index.html
Due: none

Add initial reviews page
  client/src/lib/repo.ts
  client/src/pages/Reviews.tsx
  crates/db/src/db.rs
  src/reviews.rs
Due: cargo fmt --, prettier --write, tslint

Revert pnpm lock
  pnpm-lock.yaml
Due: none

Try this
  .github/workflows/ci.yaml
Due: none

more yeet
  .github/workflows/ci.yaml
Due: none

yeet?
  .github/workflows/ci.yaml
Due: none

new version?
  .github/workflows/ci.yaml
Due: none

unlink
  .github/workflows/ci.yaml
Due: none

change config file
  .github/workflows/ci.yaml
Due: none

draft building location component
  client/src/pages/CoursePage.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Refactor
  client/src/lib/repo.ts
  client/src/lib/utils.ts
  client/src/pages/Profile.tsx
  client/src/pages/Reviews.tsx
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/src/lib.rs
  crates/model/src/review_filter.rs
  src/courses.rs
  src/main.rs
  src/reviews.rs
Due: cargo fmt --, prettier --write, tslint

Fix it
  client/src/lib/utils.ts
Due: prettier --write, tslint

swag
  crates/db/src/lib.rs
Due: cargo fmt --

Sort
  src/reviews.rs
Due: cargo fmt --

Tweeak
  client/src/lib/repo.ts
Due: prettier --write, tslint

Add initial reviews page (#531)
  .github/workflows/ci.yaml
  client/src/App.tsx
  client/src/components/Footer.tsx
  client/src/lib/repo.ts
  client/src/lib/utils.ts
  client/src/pages/Profile.tsx
  client/src/pages/Reviews.tsx
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/src/lib.rs
  crates/model/src/review_filter.rs
  src/courses.rs
  src/main.rs
  src/reviews.rs
Due: cargo fmt --, prettier --write, tslint

Make reviews page responsive
  client/src/lib/repo.ts
  client/src/lib/utils.ts
  client/src/model/GetReviewsPayload.ts
  client/src/pages/Profile.tsx
  client/src/pages/Reviews.tsx
  crates/db/src/db.rs
  crates/db/src/lib.rs
  src/reviews.rs
Due: cargo fmt --, prettier --write, tslint

Fix tests
  client/src/model/GetReviewsPayload.ts
  src/reviews.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

forgot to add component
  client/src/components/BuildingLocation.tsx
Due: prettier --write, tslint

Make reviews page responsive (#533)
  client/src/lib/repo.ts
  client/src/lib/utils.ts
  client/src/model/GetReviewsPayload.ts
  client/src/pages/Profile.tsx
  client/src/pages/Reviews.tsx
  crates/db/src/db.rs
  crates/db/src/lib.rs
  src/reviews.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Add subtitle to explore page
  client/src/lib/repo.ts
  client/src/model/GetCoursesPayload.ts
  client/src/pages/Explore.tsx
  crates/db/src/db.rs
  src/courses.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Google API key in .env
  client/src/components/BuildingLocation.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

Add a simple meta description tag (#529)
  client/index.html
Due: none

fix reviews page styles
  client/src/pages/Reviews.tsx
Due: prettier --write, tslint

Add subtitle to explore page (#534)
  client/src/lib/repo.ts
  client/src/model/GetCoursesPayload.ts
  client/src/pages/Explore.tsx
  crates/db/src/db.rs
  src/courses.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Adjust reviews page styles (#535)
  client/src/pages/Reviews.tsx
Due: prettier --write, tslint

Simplify latest course initialization (#530)
  crates/db/src/initializer.rs
Due: cargo fmt --

Remove bold styling from explore page subtitle
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Remove bold styling from explore page subtitle (#538)
  client/src/pages/Explore.tsx
Due: prettier --write, tslint
