Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

Replace react-feather icon library with lucide
  client/src/components/Autocomplete.tsx
  client/src/components/CourseAverages.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/CourseTerms.tsx
  client/src/components/DeleteButton.tsx
  client/src/components/MultiSelect.tsx
  client/src/components/ProfileDropdown.tsx
  client/src/components/ResetButton.tsx
  client/src/components/SearchBar.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Use exponential backoff with jitter when retrying requests
  Cargo.lock
  Cargo.toml
  src/retry.rs
Due: cargo fmt --

Perform exponential backoff with jitter when retrying requests (#632)
  Cargo.lock
  Cargo.toml
  src/retry.rs
Due: cargo fmt --

Add tests for request retry implementation
  Cargo.lock
  Cargo.toml
  src/retry.rs
Due: cargo fmt --

Fix lint
  src/retry.rs
Due: cargo fmt --

Add more
  src/retry.rs
Due: cargo fmt --

CI sucks
  src/retry.rs
Due: cargo fmt --

Make sure this passes
  src/retry.rs
Due: cargo fmt --

Add tests for request retry implementation (#633)
  Cargo.lock
  Cargo.toml
  src/retry.rs
Due: cargo fmt --

Add logo favicon and change logo on website
  client/index.html
  client/public/android-chrome-192x192.png
  client/public/android-chrome-512x512.png
  client/public/apple-touch-icon.png
  client/public/browserconfig.xml
  client/public/favicon-16x16.png
  client/public/favicon-32x32.png
  client/public/favicon-96x96.png
  client/public/favicon.ico
  client/public/favicon.svg
  client/public/mstile-150x150.png
  client/public/safari-pinned-tab.svg
  client/public/site.webmanifest
  client/public/web-app-manifest-192x192.png
  client/public/web-app-manifest-512x512.png
  client/src/assets/bird.png
  client/src/assets/logo_darkmode.svg
  client/src/assets/logo_lightmode.svg
  client/src/components/Logo.tsx
  client/src/components/Navbar.tsx
  client/src/components/SideNav.tsx
  package.json
  pnpm-lock.yaml
  tools/search_data_parser/pyrightconfig.json
  vite.config.ts
Due: prettier --write, tslint

Add credit for logo design
  client/src/assets/mcgill_design_consultancy.png
  client/src/pages/About.tsx
Due: prettier --write, tslint

fix linkedin images
  client/src/pages/About.tsx
Due: prettier --write, tslint

undo some changes i accidently pushed
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, tslint

Undo more accidental push
  tools/search_data_parser/pyrightconfig.json
Due: none

fmt
  client/public/site.webmanifest
Due: none

fix rust lint
  crates/model/src/schedule.rs
Due: cargo fmt --

Add new logo (#636)
  client/index.html
  client/public/android-chrome-192x192.png
  client/public/android-chrome-512x512.png
  client/public/apple-touch-icon.png
  client/public/browserconfig.xml
  client/public/favicon-16x16.png
  client/public/favicon-32x32.png
  client/public/favicon-96x96.png
  client/public/favicon.ico
  client/public/favicon.svg
  client/public/mstile-150x150.png
  client/public/safari-pinned-tab.svg
  client/public/site.webmanifest
  client/public/web-app-manifest-192x192.png
  client/public/web-app-manifest-512x512.png
  client/src/assets/bird.png
  client/src/assets/logo_darkmode.svg
  client/src/assets/logo_lightmode.svg
  client/src/assets/mcgill_design_consultancy.png
  client/src/components/Logo.tsx
  client/src/components/Navbar.tsx
  client/src/components/SideNav.tsx
  client/src/pages/About.tsx
  crates/model/src/schedule.rs
Due: cargo fmt --, prettier --write, tslint

Add a tools section to readme
  README.md
  justfile
  tools/req-parser/.python-version
  tools/req-parser/README.md
  tools/req-parser/justfile
  tools/req-parser/main.py
  tools/req-parser/poetry.lock
  tools/req-parser/pyproject.toml
  tools/req-parser/uv.lock
Due: none

Add a tools section to readme (#638)
  README.md
  justfile
  tools/req-parser/.python-version
  tools/req-parser/README.md
  tools/req-parser/justfile
  tools/req-parser/main.py
  tools/req-parser/poetry.lock
  tools/req-parser/pyproject.toml
  tools/req-parser/uv.lock
Due: none

Document and migrate python-based tools to `uv`
  README.md
  tools/course-average-fetcher/.gitignore
  tools/course-average-fetcher/.python-version
  tools/course-average-fetcher/README.md
  tools/course-average-fetcher/justfile
  tools/course-average-fetcher/main.py
  tools/course-average-fetcher/pyproject.toml
  tools/course-average-fetcher/uv.lock
  tools/course-avg-parser/README.md
  tools/course-avg-parser/main.py
  tools/course-avg-parser/poetry.lock
  tools/course-avg-parser/pyproject.toml
  tools/req-parser/README.md
  tools/req-parser/main.py
  tools/search-data-parser/parser.py
  tools/search-index-aggregator/.python-version
  tools/search-index-aggregator/README.md
  tools/search-index-aggregator/justfile
  tools/search-index-aggregator/main.py
  tools/search-index-aggregator/pyproject.toml
Due: none

Remove this
  README.md
Due: none

Generate changelog
  README.md
  client/src/assets/changelog.json
  justfile
  tools/search-index-aggregator/README.md
Due: none

More
  Cargo.lock
  Cargo.toml
  README.md
  client/src/assets/changelog.json
  justfile
  tools/changelog-gen/README.md
  tools/changelog-generator/Cargo.toml
  tools/changelog-generator/README.md
  tools/changelog-generator/justfile
  tools/changelog-generator/prompt.txt
  tools/changelog-generator/src/main.rs
  tools/search-index-aggregator/README.md
  tools/search-index-aggregator/main.py
  tools/search-index-aggregator/pyproject.toml
  tools/search-index-aggregator/uv.lock
Due: cargo fmt --

More docs
  README.md
  tools/course-average-fetcher/README.md
  tools/requirement-parser/.env.example
  tools/requirement-parser/.python-version
  tools/requirement-parser/.style.yapf
  tools/requirement-parser/README.md
  tools/requirement-parser/justfile
  tools/requirement-parser/main.py
  tools/requirement-parser/pyproject.toml
  tools/requirement-parser/uv.lock
Due: none

Tweak
  README.md
  tools/search-index-aggregator/README.md
  tools/search-index-aggregator/justfile
Due: none

Add link
  README.md
Due: none

Cool
  tools/search-index-aggregator/main.py
Due: none

Format
  README.md
Due: none

Use launchctl
  .github/workflows/ci.yaml
Due: none

Revert
  .github/workflows/ci.yaml
Due: none

Document and migrate python-based tools to use `uv` (#640)
  Cargo.lock
  Cargo.toml
  README.md
  client/src/assets/changelog.json
  justfile
  tools/changelog-gen/README.md
  tools/changelog-generator/Cargo.toml
  tools/changelog-generator/README.md
  tools/changelog-generator/justfile
  tools/changelog-generator/prompt.txt
  tools/changelog-generator/src/main.rs
  tools/course-average-fetcher/.gitignore
  tools/course-average-fetcher/.python-version
  tools/course-average-fetcher/README.md
  tools/course-average-fetcher/justfile
  tools/course-average-fetcher/main.py
  tools/course-average-fetcher/pyproject.toml
  tools/course-average-fetcher/uv.lock
  tools/course-avg-parser/README.md
  tools/course-avg-parser/main.py
  tools/course-avg-parser/poetry.lock
  tools/course-avg-parser/pyproject.toml
  tools/requirement-parser/.env.example
  tools/requirement-parser/.python-version
  tools/requirement-parser/.style.yapf
  tools/requirement-parser/README.md
  tools/requirement-parser/justfile
  tools/requirement-parser/main.py
  tools/requirement-parser/pyproject.toml
  tools/requirement-parser/uv.lock
  tools/search-data-parser/README.md
  tools/search-data-parser/parser.py
  tools/search-index-aggregator/.python-version
  tools/search-index-aggregator/README.md
  tools/search-index-aggregator/justfile
  tools/search-index-aggregator/main.py
  tools/search-index-aggregator/pyproject.toml
  tools/search-index-aggregator/uv.lock
Due: cargo fmt --

add auto focus on searchbar in the homescreen
  client/src/components/CourseSearchBar.tsx
  client/src/components/SearchBar.tsx
  client/src/pages/Home.tsx
Due: prettier --write, tslint

fix lint
  crates/extractor/src/utils.rs
Due: cargo fmt --

Update README.md
  README.md
Due: none

Use `next_back` instead of `last` (#643)
  crates/extractor/src/utils.rs
Due: cargo fmt --

Uploaded logos
  logo/JPG Format/7A_48x48-01.jpg
  logo/JPG Format/7A_60x60-01.jpg
  logo/JPG Format/7B_48x48-01.jpg
  logo/JPG Format/7B_60x60-01.jpg
  logo/PNG Format/7A_60x60-01.png
  logo/PNG Format/7B_60x60-01.png
  logo/SVG Format/7A_48x48-01.svg
  logo/SVG Format/7A_60x60-01.svg
  logo/SVG Format/7B_48x48-01.svg
  logo/SVG Format/7B_60x60-01.svg
Due: none

Fix occasional permanent loading state on explore page (#627)
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

fmt
  README.md
Due: none

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  tslint: (any of: *.ts) or (any of: *.tsx)
