Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Add course requirements test suite (#750)
  client/src/components/course-requirements.test.tsx
Due: prettier --write, tslint

Refactor out shared router wrapper for client side tests (#751)
  client/src/components/course-card.test.tsx
  client/src/components/course-requirements.test.tsx
  client/src/components/course-review.test.tsx
  client/src/pages/reviews.test.tsx
  client/src/testing/router-wrapper.tsx
Due: prettier --write, tslint

Remove `requirements` prop from `CourseRequirements` component
  client/src/components/course-requirements.test.tsx
  client/src/components/course-requirements.tsx
  client/src/pages/course-page.tsx
Due: prettier --write, tslint

Turn requirements `transformText` function into a component
  client/src/components/course-requirements.tsx
Due: prettier --write, tslint

Remove `requirements` prop from `CourseRequirements` component (#752)
  client/src/components/course-requirements.test.tsx
  client/src/components/course-requirements.tsx
  client/src/pages/course-page.tsx
Due: prettier --write, tslint

Turn requirements `transformText` function into a component (#753)
  client/src/components/course-requirements.tsx
Due: prettier --write, tslint

Add it
  client/src/components/course-info-stats.tsx
  client/src/components/course-info.tsx
  client/src/main.tsx
  client/src/pages/course-page.tsx
  client/src/pages/instructor.tsx
  client/src/providers/react-query-provider.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Add tests
  client/src/components/course-info.test.tsx
  client/src/components/course-info.tsx
Due: prettier --write, tslint

Rename
  client/src/main.tsx
  client/src/providers/query-provider.tsx
Due: prettier --write, tslint

Introduce tanstack query for client-side requests (#754)
  client/src/components/course-info-stats.tsx
  client/src/components/course-info.test.tsx
  client/src/components/course-info.tsx
  client/src/main.tsx
  client/src/pages/course-page.tsx
  client/src/pages/instructor.tsx
  client/src/providers/query-provider.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Replace `dom-utils` with react components
  client/src/components/course-card.tsx
  client/src/components/course-description.test.tsx
  client/src/components/course-description.tsx
  client/src/components/course-info.tsx
  client/src/components/highlight.test.tsx
  client/src/components/highlight.tsx
  client/src/lib/dom-utils.tsx
Due: prettier --write, tslint

Replace `dom-utils` with react components (#755)
  client/src/components/course-card.tsx
  client/src/components/course-description.test.tsx
  client/src/components/course-description.tsx
  client/src/components/course-info.tsx
  client/src/components/highlight.test.tsx
  client/src/components/highlight.tsx
  client/src/lib/dom-utils.tsx
Due: prettier --write, tslint

Don't re-render course graph on dark mode toggle
  client/src/components/course-graph.test.tsx
  client/src/components/course-graph.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Don't re-render course graph on dark mode toggle (#756)
  client/src/components/course-graph.test.tsx
  client/src/components/course-graph.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Add test suite
  client/src/components/autocomplete.test.tsx
Due: prettier --write, tslint

Add test suite for `Autocomplete` component (#757)
  client/src/components/autocomplete.test.tsx
Due: prettier --write, tslint

Add test suite for `Histogram` component
  client/src/components/histogram.test.tsx
Due: prettier --write, tslint

Add test suite for `Histogram` component (#758)
  client/src/components/histogram.test.tsx
Due: prettier --write, tslint

Add test suite for `Multiselect` component
  client/src/components/multi-select.test.tsx
Due: prettier --write, tslint

Add test suite for `Multiselect` component (#759)
  client/src/components/multi-select.test.tsx
Due: prettier --write, tslint

Add typeshare support for `GetInstructorPayload` type
  client/src/lib/api.ts
  client/src/lib/types.ts
  client/src/model/get-instructor-payload.ts
  src/instructors.rs
Due: cargo fmt --, prettier --write, tslint

Add typeshare support for `GetInstructorPayload` type (#760)
  client/src/lib/api.ts
  client/src/lib/types.ts
  client/src/model/get-instructor-payload.ts
  src/instructors.rs
Due: cargo fmt --, prettier --write, tslint

Add typeshare support for `GetInteractionKindPayload` type
  client/src/lib/api.ts
  client/src/lib/types.ts
  client/src/model/get-interactions-payload.ts
  src/interactions.rs
Due: cargo fmt --, prettier --write, tslint

Add typeshare support for `GetInteractionKindPayload` type (#761)
  client/src/lib/api.ts
  client/src/lib/types.ts
  client/src/model/get-interactions-payload.ts
  src/interactions.rs
Due: cargo fmt --, prettier --write, tslint

Add typeshare support for `ChangelogItem` type
  Cargo.lock
  client/src/assets/changelog.json
  client/src/lib/types.ts
  client/src/model/changelog-item.ts
  client/src/pages/changelog.tsx
  tools/changelog-generator/Cargo.toml
  tools/changelog-generator/src/main.rs
Due: cargo fmt --, prettier --write, tslint

Generate changelog
  client/src/assets/changelog.json
Due: none

Add tests
  client/src/pages/changelog.test.tsx
Due: prettier --write, tslint

Tweak
  client/src/pages/changelog.test.tsx
Due: prettier --write, tslint

Do not render entries with no summary
  client/src/assets/changelog.json
  client/src/pages/changelog.test.tsx
  client/src/pages/changelog.tsx
Due: prettier --write, tslint

Add typeshare support for `ChangelogItem` type (#762)
  Cargo.lock
  client/src/assets/changelog.json
  client/src/lib/types.ts
  client/src/model/changelog-item.ts
  client/src/pages/changelog.test.tsx
  client/src/pages/changelog.tsx
  tools/changelog-generator/Cargo.toml
  tools/changelog-generator/src/main.rs
Due: cargo fmt --, prettier --write, tslint

Rename `constants.ts` to `env.ts`
  client/src/components/building-location.tsx
  client/src/components/navbar.tsx
  client/src/components/profile-dropdown.tsx
  client/src/components/side-nav.tsx
  client/src/lib/env.ts
Due: prettier --write, tslint

Add test suite
  client/src/components/profile-dropdown.test.tsx
Due: prettier --write, tslint

Add test
  client/src/components/side-nav.test.tsx
Due: prettier --write, tslint

Add test
  client/src/components/navbar.test.tsx
Due: prettier --write, tslint

Rename `constants.ts` to `env.ts` (#763)
  client/src/components/building-location.tsx
  client/src/components/navbar.test.tsx
  client/src/components/navbar.tsx
  client/src/components/profile-dropdown.test.tsx
  client/src/components/profile-dropdown.tsx
  client/src/components/side-nav.test.tsx
  client/src/components/side-nav.tsx
  client/src/lib/env.ts
Due: prettier --write, tslint

Re-parse fall 2025 final exam schedules
  client/src/assets/final-exams.json
  tools/final-exam-schedule-parser/src/main.rs
Due: cargo fmt --

Format
  client/src/assets/final-exams.json
Due: none

Re-parse fall 2025 final exam schedules (#764)
  client/src/assets/final-exams.json
  tools/final-exam-schedule-parser/src/main.rs
Due: cargo fmt --

Add it
  client/src/pages/profile.tsx
Due: prettier --write, tslint

Try this
  client/src/pages/profile.tsx
Due: prettier --write, tslint
