Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Capitalize
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

fix dark mode colors
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

adjust text color on dark mode
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

adjust colors and fix bug
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Improve schedule display (#463)
  client/src/components/SchedulesDisplay.tsx
  client/src/components/Tooltip.tsx
  client/src/components/VisualSchedule.tsx
  client/src/lib/utils.ts
Due: prettier --write, tslint

ui: adjust colors for multiselect to match autocomplete
  client/src/components/MultiSelect.tsx
Due: prettier --write, tslint

ui: adjust explore filter colors to be closer to other page elements
  client/src/components/ExploreFilter.tsx
Due: prettier --write, tslint

Adjust explore filter text color to be closer to other page elements (#465)
  client/src/components/ExploreFilter.tsx
  client/src/components/MultiSelect.tsx
Due: prettier --write, tslint

add logging middleware
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/server.rs
Due: cargo fmt --

replace tracing with log
  src/server.rs
Due: cargo fmt --

add rate limiting middleware
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/server.rs
Due: cargo fmt --

move imports
  src/main.rs
  src/server.rs
Due: cargo fmt --

attempt to fix azure thing
  .well-known/microsoft-identity-association.json
  Dockerfile
  src/server.rs
Due: cargo fmt --

Add logging middleware for server (#466)
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/server.rs
Due: cargo fmt --

Host azure identity file (#468)
  .well-known/microsoft-identity-association.json
  Dockerfile
  src/server.rs
Due: cargo fmt --

remove footers when side nav is active
  client/src/components/Layout.tsx
  client/src/components/SideNav.tsx
  client/src/pages/About.tsx
  client/src/pages/PrivacyPolicy.tsx
  client/src/pages/TermsAndConditions.tsx
Due: prettier --write, tslint

fix small ui inconsistancy
  client/src/pages/TermsAndConditions.tsx
Due: prettier --write, tslint

fix inconsistant hover animation duration in course search bar explore button
  client/src/components/CourseSearchBar.tsx
Due: prettier --write, tslint

move paragraph into components
  client/src/pages/About.tsx
  client/src/pages/PrivacyPolicy.tsx
  client/src/pages/TermsAndConditions.tsx
  justfile
Due: prettier --write, tslint

move paragraph into components
  client/src/components/Paragraph.tsx
Due: prettier --write, tslint

update terms
  client/src/pages/TermsAndConditions.tsx
Due: prettier --write, tslint

update privacy policy
  client/src/pages/PrivacyPolicy.tsx
Due: prettier --write, tslint

style tweaks
  client/src/components/ProfileDropdown.tsx
  client/src/model/User.ts
  client/src/pages/CoursePage.tsx
  client/src/pages/Explore.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Style tweaks
  client/src/components/CourseReviewPrompt.tsx
  client/src/components/ReviewEmptyPrompt.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Fix inconsistent hover animation duration in course search bar explore (#469)
  client/src/components/CourseSearchBar.tsx
Due: prettier --write, tslint

Clear search query after selecting a result
  client/src/components/CourseSearchBar.tsx
  client/src/components/Navbar.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/components/SearchBar.tsx
Due: prettier --write, tslint

Reduce text size in about
  client/src/pages/About.tsx
Due: prettier --write, tslint

Fix weird search result icons on mobile
  client/src/components/CourseSearchBar.tsx
Due: prettier --write, tslint

Fix icon sizing in search results on mobile (#474)
  client/src/components/CourseSearchBar.tsx
Due: prettier --write, tslint

remove console.log
  client/src/components/Navbar.tsx
Due: prettier --write, tslint

remove console.log
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

disallow use of console
  .eslintrc.json
Due: none

Reduce text size in about (#473)
  client/src/pages/About.tsx
Due: prettier --write, tslint

lint: no using console (#475)
  .eslintrc.json
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Update review form styles
  client/src/components/AddReviewForm.tsx
  client/src/components/Autocomplete.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/IconRatingInput.tsx
  client/src/components/MultiSelect.tsx
  client/src/components/ReviewForm.tsx
Due: prettier --write, tslint

Fix alignment of location on schedules display with other columns on mobile
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Adjust styles in navbar
  client/src/components/DarkModeToggle.tsx
  client/src/components/Navbar.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/components/ProfileDropdown.tsx
Due: prettier --write, tslint

Remove graph animation
  client/src/components/CourseGraph.tsx
Due: prettier --write, tslint

shorten terms and privacy policy
  client/src/pages/PrivacyPolicy.tsx
  client/src/pages/TermsAndConditions.tsx
Due: prettier --write, tslint

typo
  client/src/pages/TermsAndConditions.tsx
Due: prettier --write, tslint
