Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Serde rename all pls
  crates/model/src/notification.rs
  src/server.rs
Due: cargo fmt --

Remove import
  src/main.rs
Due: cargo fmt --

Add test import
  src/server.rs
Due: cargo fmt --

Add review content to notifications
  client/src/model/Notification.ts
  crates/db/src/db.rs
  crates/model/src/notification.rs
  src/reviews.rs
Due: cargo fmt --, prettier --write, tslint

Sort notifications by recency
  client/src/components/NotificationDropdown.tsx
  client/src/model/Notification.ts
  client/src/pages/Profile.tsx
  crates/db/src/db.rs
  crates/model/src/notification.rs
  crates/model/src/review.rs
  crates/model/src/subscription.rs
  src/notifications.rs
Due: cargo fmt --, prettier --write, tslint

Add subscriptions tab to profile page
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Update/delete notifications on review operations
  client/src/components/CourseInfo.tsx
  client/src/components/CourseReview.tsx
  client/src/components/Navbar.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/lib/repo.ts
  client/src/pages/Instructor.tsx
  crates/db/src/db.rs
  crates/model/src/review.rs
  src/notifications.rs
  src/reviews.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Make it look good on mobile and don't fetch notifs without user
  client/src/components/Navbar.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/components/SideNav.tsx
Due: prettier --write, tslint

switch to pnpm and bump packages
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

Bro this is WACK
  client/src/components/MultiSelect.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/lib/repo.ts
  client/src/pages/Profile.tsx
  crates/db/src/db.rs
  src/notifications.rs
  src/server.rs
Due: cargo fmt --, prettier --write, tslint

Check seen first
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

Tweak
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

Fix re-render issue
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

Tweak colors on profile
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Don't notify review creator
  client/src/components/NotificationDropdown.tsx
  crates/db/src/db.rs
Due: cargo fmt --, prettier --write, tslint

Fix bug
  crates/db/src/db.rs
Due: cargo fmt --

Fix pnpm in CI
  .github/workflows/ci.yaml
Due: none

format
  .prettierrc
  client/src/components/CourseCard.tsx
  client/src/components/CourseGraph.tsx
  client/src/components/CourseInfoStats.tsx
  client/src/components/CourseRequirements.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/DarkModeToggle.tsx
  client/src/components/Histogram.tsx
  client/src/components/ReviewFilter.tsx
  client/src/components/ReviewForm.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/components/Tooltip.tsx
  client/src/hooks/useDarkMode.ts
  client/src/pages/CoursePage.tsx
  client/src/pages/Home.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  cypress/support/e2e.ts
  pnpm-lock.yaml
Due: prettier --write, tslint

Add empty states for profile & notif dropdown
  client/src/components/NotificationDropdown.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Switch to using pnpm and update dependencies (#427)
  .github/workflows/ci.yaml
  .prettierrc
  client/src/components/CourseCard.tsx
  client/src/components/CourseGraph.tsx
  client/src/components/CourseInfoStats.tsx
  client/src/components/CourseRequirements.tsx
  client/src/components/CourseReview.tsx
  client/src/components/CourseSearchBar.tsx
  client/src/components/DarkModeToggle.tsx
  client/src/components/Histogram.tsx
  client/src/components/ReviewFilter.tsx
  client/src/components/ReviewForm.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/components/Tooltip.tsx
  client/src/hooks/useDarkMode.ts
  client/src/pages/CoursePage.tsx
  client/src/pages/Home.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  cypress/support/e2e.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, tslint

Don't close notif dropdown when clicking on item
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

Add more database tests
  crates/db/src/db.rs
  src/interactions.rs
  src/reviews.rs
  src/server.rs
  src/subscriptions.rs
Due: cargo fmt --

Update dockerfile to use pnpm
  Dockerfile
  README.md
  justfile
Due: none

Format
  README.md
Due: none

Update dockerfile to use pnpm (#428)
  Dockerfile
  README.md
  justfile
Due: none

Add more server tests
  src/server.rs
  src/subscriptions.rs
Due: cargo fmt --

Fix tests
  crates/db/src/db.rs
  src/server.rs
  src/subscriptions.rs
Due: cargo fmt --

Remove `finally` blocks
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

adjust styles
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

Add notification system for course reviews (#371)
  client/src/components/AddReviewForm.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseReview.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/MultiSelect.tsx
  client/src/components/Navbar.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/components/ReviewForm.tsx
  client/src/components/SideNav.tsx
  client/src/lib/fetchClient.ts
  client/src/lib/repo.ts
  client/src/lib/utils.ts
  client/src/model/Notification.ts
  client/src/model/Subscription.ts
  client/src/pages/CoursePage.tsx
  client/src/pages/Explore.tsx
  client/src/pages/Home.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  client/src/providers/AuthProvider.tsx
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/src/lib.rs
  crates/model/src/notification.rs
  crates/model/src/review.rs
  crates/model/src/subscription.rs
  src/interactions.rs
  src/main.rs
  src/notifications.rs
  src/reviews.rs
  src/server.rs
  src/subscriptions.rs
Due: cargo fmt --, prettier --write, tslint

Change course code to subject
  client/src/components/ExploreFilter.tsx
Due: prettier --write, tslint

Add google analytics
  client/index.html
Due: none

Add google analytics (#429)
  client/index.html
Due: none

Lighten explore filter labels (#426)
  client/src/components/ExploreFilter.tsx
Due: prettier --write, tslint

make notif dot red
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

Add red dot to notification icon (#431)
  client/src/components/NotificationDropdown.tsx
Due: prettier --write, tslint

Link to course page on profile subscription
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Link to course page on profile subscription (#432)
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Add content label and evenly distribute margins on review card
  client/src/components/MultiSelect.tsx
  client/src/components/ReviewForm.tsx
Due: prettier --write, tslint
