Repository terror/mcgill.courses: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, tslint

.lintstagedrc.json:

{
  "*.rs": ["cargo fmt --"],
  "*.ts": ["prettier --write", "tslint"],
  "*.tsx": ["prettier --write", "tslint"]
}

Use bunx for vite stuff
  package.json
Due: none

empty state for instructor/course page
  client/src/components/ReviewEmptyPrompt.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

Fix review display on instructor page
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

Fix review display on instructor page (#411)
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

Improve empty state for instructor and course page (#409)
  client/src/components/ReviewEmptyPrompt.tsx
  client/src/components/SchedulesDisplay.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/Instructor.tsx
Due: prettier --write, tslint

compute max width needed for schedule display
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Add tweaks
  client/src/components/Autocomplete.tsx
  client/src/components/Footer.tsx
  client/src/components/ReviewFilter.tsx
Due: prettier --write, tslint

Fix text wrapping on long schedule display text (#412)
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Improve footer and course page filter colors in light mode (#414)
  client/src/components/Autocomplete.tsx
  client/src/components/Footer.tsx
  client/src/components/ReviewFilter.tsx
Due: prettier --write, tslint

Update dependencies
  Cargo.lock
Due: none

Yeet
  package-lock.json
Due: none

Update dependencies (#415)
  Cargo.lock
  package-lock.json
Due: none

Switch to sonner toast
  client/src/components/Alert.tsx
  client/src/components/CourseReview.tsx
  client/src/main.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/Explore.tsx
  client/src/pages/Home.tsx
  package-lock.json
  package.json
Due: prettier --write, tslint

Show toast when saving review drafts
  client/src/components/AddReviewForm.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/ReviewForm.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Show toast when saving review drafts (#417)
  client/src/components/AddReviewForm.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/ReviewForm.tsx
  client/src/pages/CoursePage.tsx
Due: prettier --write, tslint

Upgrade to using 1.70 rust buster image in docker
  Dockerfile
Due: none

Upgrade to using 1.70 rust buster image in docker (#418)
  Dockerfile
Due: none

replace console logs with toasts
  client/src/components/Navbar.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/Home.tsx
  client/src/pages/Profile.tsx
Due: prettier --write, tslint

Switch to using sonner toast component for alerts (#416)
  client/src/components/AddReviewForm.tsx
  client/src/components/Alert.tsx
  client/src/components/CourseReview.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/Navbar.tsx
  client/src/components/ReviewForm.tsx
  client/src/main.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/Explore.tsx
  client/src/pages/Home.tsx
  client/src/pages/Profile.tsx
  package-lock.json
  package.json
Due: prettier --write, tslint

better explore filter
  client/src/components/CourseTerms.tsx
  client/src/components/ExploreFilter.tsx
  client/src/components/MultiSelect.tsx
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

update styles for multiselect to match autocomplete
  client/src/components/MultiSelect.tsx
Due: prettier --write, tslint

adjust styles again
  client/src/components/ExploreFilter.tsx
  client/src/components/FilterToggle.tsx
  client/src/components/ReviewFilter.tsx
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

remove comments
  client/src/components/ExploreFilter.tsx
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Improve explore filter styling (#419)
  client/src/components/CourseTerms.tsx
  client/src/components/ExploreFilter.tsx
  client/src/components/FilterToggle.tsx
  client/src/components/MultiSelect.tsx
  client/src/components/ReviewFilter.tsx
  client/src/pages/Explore.tsx
Due: prettier --write, tslint

Group filter params into a single struct
  crates/db/src/db.rs
  crates/db/src/lib.rs
  crates/model/src/course_filter.rs
  crates/model/src/lib.rs
  src/courses.rs
  src/main.rs
  src/server.rs
Due: cargo fmt --

Add an input bar
  client/src/pages/Explore.tsx
  crates/db/src/db.rs
Due: cargo fmt --, prettier --write, tslint

show histogram on smaller screen
  client/src/components/CourseInfo.tsx
  client/src/components/CourseInfoStats.tsx
Due: prettier --write, tslint

Add date tooltip to review card
  client/src/components/CourseReview.tsx
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

Tweak margins
  client/src/components/CourseInfo.tsx
Due: prettier --write, tslint

Show histogram on smaller screen (#422)
  client/src/components/CourseInfo.tsx
  client/src/components/CourseInfoStats.tsx
Due: prettier --write, tslint

Add date tooltip to review card (#424)
  client/src/components/CourseReview.tsx
  client/src/components/SchedulesDisplay.tsx
Due: prettier --write, tslint

fix bird getting squished
  client/src/components/Navbar.tsx
Due: prettier --write, tslint

Fix bird getting squished on transition from md to lg (#425)
  client/src/components/Navbar.tsx
Due: prettier --write, tslint

tweak explore filter styles again
  client/src/components/ExploreFilter.tsx
Due: prettier --write, tslint

Add toast alerts
  client/src/components/CourseInfo.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/lib/fetchClient.ts
Due: prettier --write, tslint

Use repo for backend queries
  client/src/components/AddReviewForm.tsx
  client/src/components/CourseInfo.tsx
  client/src/components/CourseReview.tsx
  client/src/components/EditReviewForm.tsx
  client/src/components/Navbar.tsx
  client/src/lib/fetchClient.ts
  client/src/lib/repo.ts
  client/src/lib/utils.ts
  client/src/pages/CoursePage.tsx
  client/src/pages/Explore.tsx
  client/src/pages/Home.tsx
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  client/src/providers/AuthProvider.tsx
Due: prettier --write, tslint

Don't use async functions if we dont have to
  client/src/components/CourseInfo.tsx
  client/src/components/Navbar.tsx
  client/src/pages/Explore.tsx
  client/src/pages/Profile.tsx
  client/src/providers/AuthProvider.tsx
Due: prettier --write, tslint

Import notification
  client/src/lib/repo.ts
Due: prettier --write, tslint

Add subscription count to profile page
  client/src/lib/repo.ts
  client/src/pages/Instructor.tsx
  client/src/pages/Profile.tsx
  crates/db/src/db.rs
  crates/db/src/lib.rs
  src/subscriptions.rs
Due: cargo fmt --, prettier --write, tslint

Add failing test
  src/main.rs
  src/server.rs
Due: cargo fmt --
